@charset "UTF-8";
@font-face{
	src: url("../fonts/malgun.ttf");
	font-family: "malgun";
}

body{
	font-family: "malgun";
}

header{
	width:100%;
}

/* gnb_menu1 상단메뉴 */

#gnb_menu1{
	height: 35px;
	background-color: #202020;
}

.ul_wrap{
	float: right;
	padding-top: 10px;
	padding-right: 39px;
}

.ul_wrap ul li{
	display: inline-block;
	margin-left: 19px;
}

.ul_wrap ul li a{
	font-size: 12.2px;
	color: white;
	letter-spacing: -0.5px;
	line-height: 18px;
	text-decoration: none;
}
.ul_wrap ul li::after{
	content:"|";
	font-size: 14px;
	float: right;
	color: #4d4d4d;
	margin-right: -17px;
}

.ul_wrap ul li:last-child::after{
	content:"";
}

/* gnb_menu2 하단메뉴 */

#gnb_menu2{
	height: 82px;
	text-align: center;
	border-bottom: 1px solid #cccccc;
	position: relative;
}

.logo{
	position: absolute;
	top: 25px;
	left: 40px;
}
.ul_wrap2{
	max-width: 1920px;
	min-width: 1440px;
}

.ul_wrap2 ul li{
	display: inline-block;
	margin-left: 19px;
}

.ul_wrap2 ul li a{
	font-size: 22px;
	font-weight: bolder;
	color: black;
	letter-spacing: -0.5px;
	padding-right: 32px;
	line-height: 82px;
	text-decoration: none;
}

