@charset "UTF-8";
@font-face{
	src: url("../fonts/malgunbd.ttf");
	font-family: "malgun";
}

body{
	font-family: "malgun";
}

header{
	width:100%;
	background-color: gray;
}

/* gnb_menu1 상단메뉴 */

#gnb_menu1{
	height: 35px;
	background-color: #202020;
}

.ul_wrap{
	float: right;
	padding-top: 10px;
	padding-right: 39px;
}

.ul_wrap ul li{
	display: inline-block;
	margin-left: 19px;
}

.ul_wrap ul li a{
	font-size: 12.5px;
	color: white;
	letter-spacing: -0.5px;
	line-height: 18px;
	text-decoration: none;
}
.ul_wrap ul li::after{
	content:"|";
	float: right;
	color: #4d4d4d;
	margin-right: -17px;
}

.ul_wrap ul li:last-child::after{
	content:"";
}

/* gnb_menu2 하단메뉴 */

#gnb_menu2{
	height: 82px;
	background-color: red;
	opacity: 0.5;
}


