@charset "utf-8";
/************************************************************************
* filename : common.css
* description : 공통 css
************************************************************************/

/* BASE */
*{margin:0;padding:0;-webkit-text-size-adjust:none;word-break:break-all;box-sizing:border-box;}
*, *:after, *:before {-webkit-box-sizing:border-box; box-sizing:border-box;}
html{overflow-y:scroll;}
html.laypop{overflow-y:scroll;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, table, th, td, input, select, textarea, button {margin:0;padding:0;word-break:break-all;letter-spacing:-0.5px;}
body, input, textarea, select, button, table {font-family:'Noto Sans', '맑은 고딕', 'Malgun Gothic', Dotum, '굴림', arial, sans-serif; font-size:15px; font-weight:400; line-height:23px;color:#606060;letter-spacing:-0.5px;}

/* HIDDEN */
.hide {display:inline-block;position:absolute;z-index:-10;width:0 !important;height:0 !important;overflow:hidden !important;font-size:medium;line-height:normal;word-break:break-all}
::selection {
	background:#101010;
	color: #BDD61A;
	text-shadow: none;
}
::-moz-selection {
	background:#101010;
	color: #BDD61A;
	text-shadow: none;
}
::-webkit-selection {
	background:#101010;
	color: #BDD61A;
	text-shadow: none;
}

/* #content{min-height:900px; padding:72px 0 140px;} */
#content{min-height:900px; padding:52px 0 140px;}

/* INPUT - BASIC */
input[type='submit'],input[type='button'],button {cursor:pointer}
input.txt {display:inline-block;width:100%;height:48px;padding:0 16px;background-color:#fff;border:1px solid #ccc;color:#101010; font-weight:400; font-size:15px; line-height:23px;-ms-transform:translateZ(0);-webkit-transform:translateZ(0);-moz-transform:translateZ(0);transform:translateZ(0);}
input.txt::-webkit-input-placeholder {color:#606060;font-size:15px; font-weight:400;}
input.txt::-moz-placeholder {color:#606060;font-size:15px; font-weight:400;}
input.txt:-ms-input-placeholder {color:#606060;font-size:15px; font-weight:400;}
.input_wrap.dis input.txt::-webkit-input-placeholder {color:#b0b0b0;font-size:15px; font-weight:400;}
.input_wrap.dis input.txt::-moz-placeholder {color:#b0b0b0;font-size:15px; font-weight:400;}
.input_wrap.dis input.txt:-ms-input-placeholder {color:#b0b0b0;font-size:15px; font-weight:400;}
.input_wrap.on input.txt,
input.txt:focus{background-color:#fff;border:1px solid #202020;box-shadow:none; color:#101010;}
.input_wrap.dis input.txt {background-color:#F7F7F7;border:1px solid #ccc;color:#606060;}
.input_wrap.dis input[disabled].txt {color:#b0b0b0;}
.input_wrap.dis input[readonly].txt {color:#606060;}

.bul_req {display:inline-block; position:relative; min-width:6px; min-height:6px; padding-left:10px; color:#a3a3a3; font-size:11px; vertical-align:top;}
.bul_req:after {content:''; display:block; position:absolute; top:5px; right:0; width:7px; height:7px; background:url('/cjkit/web/images/common/ico_set.png') no-repeat; background-position:0 0; background-size:800px 800px;}

/* 상단 타이틀 공통 */
.top_sec h2 {color:#101010; font-size:40px; line-height:56px; font-weight:700;}

/* 페이징 */
.pagination {padding-top:56px; font-size:0; text-align:center;}
.pagination a,
.pagination strong {display:inline-block; min-width:40px; height:40px; background-color:#fff; color:#606060; font-size:14px; font-weight:700; text-align:center; line-height:40px; vertical-align:top; }
.pagination strong {background-color:#202020; color:#fff;}
.pagination a:hover,
.pagination a:focus {text-decoration:underline;}
.pagination .page_num {display:inline-block; padding:0 20px; vertical-align:middle;}
.pagination .btn_first,
.pagination .btn_prev,
.pagination .btn_next,
.pagination .btn_last {display:inline-block; width:40px; height:40px; margin:0 -0.5px; padding:0; background:url('/cjkit/web/images/common/ico_set.png') no-repeat; background-size:800px 800px; vertical-align:middle;}
.pagination .btn_first {background-position:0 -300px;}
.pagination .btn_prev {background-position:-40px -300px;}
.pagination .btn_next {background-position:-80px -300px;}
.pagination .btn_last {background-position:-120px -300px;}

/*.pagination.small a,
.pagination.small strong {min-width:32px; height:32px; font-size:13px; line-height:32px;}
.pagination.small .btn_last {display:inline-block; width:32px; height:32px; margin:0 -0.5px; padding:0; background:url('/cjkit/web/images/common/ico_set_old.png') no-repeat; vertical-align:middle;}
.pagination.small .btn_first,
.pagination.small .btn_prev,
.pagination.small .btn_next,
.pagination.small .btn_last {width:32px; height:32px;}
.pagination.small .btn_first {background-position:-557px -60px;}
.pagination.small .btn_prev {background-position:-589px -60px;}
.pagination.small .btn_next {background-position:-621px -60px;}
.pagination.small .btn_last {background-position:-653px -60px;}*/

/* 통합검색 */
.sch_wrap {position:relative; z-index:30; width:644px; margin:0 auto;}
.sch_wrap .input_wrap {height:68px;}
.sch_wrap .input_wrap .ico {right:66px;}
.sch_wrap input.txt {height:68px; padding:0 106px 0 20px; border:2px solid #202020; color:#101010; font-weight:700; font-size:20px; opacity:1;}
.sch_wrap input.txt::-webkit-input-placeholder {color:#606060;font-size:20px; font-weight:700;}
.sch_wrap input.txt::-moz-placeholder {color:#606060;font-size:20px; font-weight:700;}
.sch_wrap input.txt:-ms-input-placeholder {color:#606060;font-size:20px; font-weight:700;}
.sch_wrap .input_wrap.on input.txt,
.sch_wrap input.txt:focus{border:2px solid #202020;}
.sch_wrap .btn_srch {position:absolute; right:18px; top:50%; width:32px; height:32px; margin-top:-16px; background:url('../../images/pd/ico_set.png') -600px -150px no-repeat; background-size:800px 800px;}





/************************************************************************
* filename : pd.css
* description : 올키 메뉴(상품) css
************************************************************************/
/** 리스트 **/
.olki_list_wrap .top_sec {padding-bottom:14px; border-bottom:1px solid #e0e0e0;}
.olki_list_wrap .top_sec .cate_wrap {margin-top:1px;}
.olki_list_wrap .top_sec .cate_wrap:after {content:''; display:block; clear:both;}
.pd_mu_wrap .olki_list_wrap .top_sec {padding-bottom:0; border-bottom:0;}
.pd_mu_wrap .olki_list_wrap .top_sub_sec {padding:100px 0 16px; border-bottom:2px solid #202020;}
.pd_mu_wrap .olki_list_wrap .top_sub_sec h3 {color:#101010; font-weight:700; font-size:22px; line-height:32px;}
.olki_list_wrap .tab_wrap {float:left; width:auto; overflow:hidden; padding-top:18px;}
.olki_list_wrap .tab_wrap .tabs {height:auto; margin:6px 0 5px;}
.olki_list_wrap .tab_wrap .tabs:before {border-bottom:none;}
.olki_list_wrap .pagination {padding-top:80px;}
.olki_list_wrap .no_data.no_pd_list {padding-top:160px;}
/* 상단 솔팅 공통  */
.olki_list_wrap .list_cate_wrap {float:right; position:relative;}
.olki_list_wrap .list_cate_wrap .arrow_wrap {position:absolute; top:30px; right:0;}
.olki_list_wrap .list_cate_wrap .arrow_wrap .arr {width:24px; height:24px; margin-left:12px; background:url('/cjkit/web/images/common/ico_set.png') no-repeat; background-size:800px 800px;}
.olki_list_wrap .list_cate_wrap .arrow_wrap .arr:first-child {margin-left:0;}
.olki_list_wrap .list_cate_wrap .arrow_wrap .arr.arr_prev {background-position:-608px 0;}
.olki_list_wrap .list_cate_wrap .arrow_wrap .arr.arr_next {background-position:-633px 0;}
.olki_list_wrap .cate_sort .rad_tab_wrap {display:block; line-height:0;}
.olki_list_wrap .cate_sort .rad_tab_wrap .cate {position:relative; display:inline-block;}
.olki_list_wrap .cate_sort .rad_tab_wrap .rad_wrap {height:56px; margin:0;}
.olki_list_wrap .cate_sort .rad_tab_wrap .rad_wrap input + label {height:50px; margin:0; padding:0 16px; color:#606060; font-weight:500; font-size:16px; line-height:50px; border:0; border-radius:32px; text-indent:0;}
.olki_list_wrap .cate_sort .rad_tab_wrap .rad_wrap input + label span {}
.olki_list_wrap .cate_sort .rad_tab_wrap .rad_wrap input:checked + label,
.olki_list_wrap .cate_sort .rad_tab_wrap .rad_wrap input:focus + label {position:static; color:#fff; font-weight:700; background-color:#202020; border:none; box-shadow:none;}
.olki_list_wrap .cate_sort .rad_tab_wrap .rad_wrap input:checked + label:before,
.olki_list_wrap .cate_sort .rad_tab_wrap .rad_wrap input + label:before {width:0; margin:0; background:none;}
/* 메뉴찾기 통합검색 */
.pd_mu_wrap .box_mu_search {margin:24px 0 -54px; padding:32px; background-color:#f7f7f7;}
.pd_mu_wrap .box_mu_search .sch_wrap .auto_sch {display:none; position:absolute; left:0; right:0; top:68px; border:1px solid #ccc;background-color:#fff;}
.pd_mu_wrap .box_mu_search .sch_wrap .auto_sch.open {display:block;}
.pd_mu_wrap .box_mu_search .sch_wrap .auto_sch ul {padding:2px 0;}
.pd_mu_wrap .box_mu_search .sch_wrap .auto_sch li a {display:block; padding:12px 20px 13px; color:#606060; font-weight:500; font-size:15px; line-height:23px;}
.pd_mu_wrap .box_mu_search .sch_wrap .auto_sch li a:hover {background-color:#f7f7f7; color:#101010;}
.pd_mu_wrap .box_mu_search .sch_wrap .auto_sch li a span {color:#008A00;}
.pd_mu_wrap .box_mu_search .desc {width:644px; margin:10px auto 0; color:#606060; font-size:14px; line-height:22px;}
.pd_mu_wrap .box_mu_search .desc strong {color:#101010; font-weight:500;}





/* 메뉴 보이는 부분 */
#menus_wrap{
	width: 100%;
	position: relative;
	margin-top: 30px;
}

#item_wrap{
	min-height: 400px;
	display: inline-grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 36px;
	row-gap : 60px;
}
#item_wrap2{
	min-height: 400px;
	display: inline-grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 36px;
	row-gap : 60px;
}
/* 품절된 물품들 */
.click_menu_soldout .item_image img{
	filter: grayscale(80%);
}
.item_image{
	position: relative;
}
.soldout_txt{
	position: absolute;
	z-index: 99;
	font-size: 50px;
	font-weight: 700;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}
.item_box{
	width: 268px;
	height: 548px;
	display: flex;
	flex-direction: column;
}

/* 메뉴 세부 박스들 */
.item_image{
	width: 100%;
	height: 320px;
}
.etc_info{ /* 인분 및 조리시간 */
	padding-top: 8px;
	font-size: 14px;
	color: #BDBDBD;
}
.item_title{ /* item 이름 */
	padding-top: 5px;
	font-size: 17px;
	font-weight: 700;
	color: black;
}
.item_price{
	padding-top: 10px;
	font-size: 20px;
	color: black;
}
.item_review{ /* 별점 및 리뷰갯수 박스 */
	width: 100%;
	height: 40px;
	margin-top: 15px;
}
.item_review ul li{
	display: inline-block;
	font-size: 16px;
	line-height: 16px;
}
.item_review ul li:first-child{
	background: url("../../images/pd/ico_set.png") no-repeat -374px 0;
	width: 88px;
	height: 16px;
}
.item_review ul li:last-child::before{
	content: "|";
	color: #BDBDBD;
	padding-right: 10px;
	padding-left: 10px;
}
.item_btnbox{
	width: 100%;
	height: 40px;
	display: flex;
	flex-direction: row;
}
.menu_btn{
	margin-right: 15px;
	width: 40px;
	height: 40px;
}
.zzim_btn{
	background: url('../../images/common/ico_set.png') no-repeat 0 -190px;
	background-size: 800px 800px;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.cart_btn{
	background: url('../../images/common/ico_set.png') no-repeat -45px -190px;
	background-size: 800px 800px;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
/* 메뉴안 페이저 부분 */
.pager_wrap{
	margin: 80px auto 80px auto;
	text-align: center;
}
.pager{
	margin: 0 auto;
}
.pager_item{
	display: inline-block;
	text-align: center;
	line-height: 50px;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background-color: #4C4C4C;
}
.pager_item a{
	font-size: 20px;
	color: white;
}

/* 등록된 물품이 없을때 */
.no_item{
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translate(-50%, 0%);
	font-size: 24px;
	color: black;
}
.no_itemIcon{
	margin: 0 auto;
	background: url('../../images/common/ico_set.png') no-repeat 0px -100px;
	background-size: 800px 800px;
	width: 80px;
	height: 80px;
}
.no_itemTxt{
	margin-top: 30px;
}

/* ======== 기능 관련 css ========*/

/* 메뉴 클릭 (찜, 장바구니 버튼 제외) */
.click_menu{
	cursor: pointer;
}