@charset "UTF-8";
					
.content_wrapper{
	width: 1190px;
	margin: 0 auto;
}

/* 페이지 타이틀 */
.title{
	width: 100%;
	height: 40px;
	margin-top: 60px;
}
.title h1{
	font-size: 40px;
	font-weight: 700;
}

/* 카테고리 선택 부분 */
.cate_wrap{
	width: 100%;
	height: 95px;
	border-bottom: 1px solid #e0e0e0;
}
.cate{
	width: 230px;
	height: 35px;
	margin-top: 40px;
	float: left;
}
.cate ul li{
	display: inline-block;
	margin-right: 15px;
}
.cate ul li:first-child{
	border-bottom: 2px solid black;
	padding-bottom: 4px;
}
.cate ul li a{
	font-size: 24px;
	color: black;
	text-decoration: none;
}

/* 서브타이틀 및 정렬하는 부분 */
.filter_wrap{
	box-sizing: border-box;
	width: 100%;
	height: 120px;
	padding-top: 48px;
	position: relative;
}
.filter_wrap p:first-child{
	font-size: 28px;
	font-weight: 700;
}
.filter_wrap p{
	padding-top: 10px;
	font-size: 18px;
	font-weight: 700;
}

/* 신메누순 가격순 만족도순 등등 정렬방식.... */

.sort_wrap{
	position: absolute;
	right: 0;
	bottom: 8px;
}
.sortc_wrap{
	display: inline-block;
}
.sortc_wrap a{
	text-decoration: none;
	color: black;
}
/* .sortc_wrap a::before{
	content: "";
	background: url("../../images/pd/ico_set.png") no-repeat -49px -3px;
	display: inline-block;
	margin-right: 5px;
	width: 14px;
	height: 11px;
} */

.add{
	background: url("../../images/pd/ico_set.png") no-repeat -49px -3px;
	display: inline-block;
	margin-right: 5px;
	width: 14px;
	height: 11px;
}

.sortc_wrap button::after{
	content: "|";
	padding-left: 8px;
	padding-right: 8px;
}
.sortc_wrap:last-child button::after{
	content: "";
}

/* 메뉴 보이는 부분 */
#menus_wrap{
	width: 100%;
	margin-top: 30px;
}

#item_wrap{
	display: inline-grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 36px;
	row-gap : 100px;
}
.item_box{
	width: 268px;
	height: 548px;
	display: flex;
	flex-direction: column;
}

/* 메뉴 세부 박스들 */
.item_image{
	width: 100%;
	height: 320px;
}
.etc_info{ /* 인분 및 조리시간 */
	padding-top: 8px;
	font-size: 14px;
	color: #BDBDBD;
}
.item_title{ /* item 이름 */
	padding-top: 5px;
	font-size: 17px;
}
.item_price{
	padding-top: 10px;
	font-size: 24px;
}
.item_review{ /* 별점 및 리뷰갯수 박스 */
	width: 100%;
	height: 40px;
	margin-top: 15px;
}
.item_review ul li{
	display: inline-block;
	font-size: 16px;
	line-height: 16px;
}
.item_review ul li:first-child{
	background: url("../../images/pd/ico_set.png") no-repeat -374px 0;
	width: 88px;
	height: 16px;
}
.item_review ul li:last-child::before{
	content: "|";
	color: #BDBDBD;
	padding-right: 10px;
	padding-left: 10px;
}
.item_btnbox{
	width: 100%;
	height: 40px;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
}
.menu_btn{
	margin-right: 15px;
	width: 40px;
	height: 40px;
}
/* 메뉴안 페이저 부분 */
.pager_wrap{
	width: 70%;
	height: 80px;
	margin: 130px auto 130px auto;
}
.pager{
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background-color: #4C4C4C;
}
.pager_item{
	text-align: center;
	line-height: 50px;
}
.pager_item a{
	font-size: 20px;
	color: white;
}


/* ======== 기능 관련 css ========*/

/* 메뉴 클릭 (찜, 장바구니 버튼 제외) */
.click_menu{
	cursor: pointer;
}