@charset "UTF-8";

html,body{
	height:100%;
	margin:0; 
}
.wrapper{
	min-height:100%;
	margin-top:85px;
	margin-bottom:-290px;
	position: relative;
	}
	
/* 버튼 클릭시나오는 이미지 */

.cartin_img{
	position: fixed;
	visibility: hidden;
	z-index: 99;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url('../../images/common/ico_set.png') no-repeat -280px -668px;
	background-size: 800px 800px;
	width: 132px;
	height: 132px;
}

.cartin_txt{
	position: absolute;
	font-size: 12px;
	color: black;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}
	
/* 버튼 클릭시나오는 이미지 */

.push{
	height:290px;		
	}
.content_wrapper{
	width: 1190px;
	margin: 0 auto;
}

/* 상단 큰 박스 */
.top_info{
	width: 1190px;
	display: flex;
	margin-top: 50px;
}

.left_con{
	width: 600px;
	display: flex;
	flex-direction: column;
}
.right_con{
	width: 500px;
	display: flex;
	flex-direction: column;
	margin-left: 80px;
	padding-top: 20px;
}

/* ============= left_con 영역 =================== */

/* 슬라이더 */
.slide_item{
	width:90px;
	height: 90px;
	display: inline-block;
}
.slide_item img{
	opacity: 0.5;
}
.slider_wrapper{
	width: 500px;
	margin: 30px auto 30px auto;
	position: relative;
}
.slider_btn{
	position: absolute;
}
.prev_btn{
	top: 50%;
	left: -50px;
	transform: translate(0%, -50%);
	width: 17px;
	height: 32px;
	background: url('../../images/common/ico_set.png') no-repeat -681px 0px;
	background-size: 800px 800px;
}
.next_btn{
	top: 50%;
	right: -39px;
	transform: translate(0%, -50%);
	width: 17px;
	height: 32px;
	background: url('../../images/common/ico_set.png') no-repeat -713px 0px;
	background-size: 800px 800px;
}

#lightSlider{
	width: 500px;
}
/* ============ right_con 영역 ============== */

/* 메뉴 상품 이름 타이틀 */
.title_info{
}
.sub_title{
	font-size: 30px;
	font-weight: 700;
	color: black;
}
.title{
	font-size: 30px;
	font-weight: 700;
	margin-top: 20px;
	color: black;
}
.prd_origin{
	font-size: 30px;
	font-weight: 300;
	margin-top: 25px;
}

/* 조리법 정보 */
.prd_cookinfo{
	border-bottom: 1px solid #D5D5D5;
	margin-top: 30px;
	padding-bottom: 20px;
	font-size: 16px;
}

/* 상품 가격 */
.prd_price{
	border-bottom: 1px solid #D5D5D5;
	margin-top: 20px;
	padding-bottom: 20px;
	font-weight: 700;
}
.prd_price span{
	font-size: 16px;
	padding-right: 70px;
	color: black;
}
.prd_price .inPrice{
	font-size: 28px;
}

/* 추후 추가할 배송 및 쿠폰등등 */
/* 상품 쿠폰 관련 */
.prd_coupon{
	border-bottom: 1px solid #D5D5D5;
	margin-top: 10px;
	padding-bottom: 10px;
}
.prd_coupon span{
	font-size: 14px;
	padding-right: 70px;
	color: black;
}
.prd_coupon .inCoupon{
	font-size: 14px;
	color: black;
}
/* 상품 배송 관련 */
.prd_delivery{
	border-bottom: 2px solid black;
	margin-top: 10px;
	padding-bottom: 40px;
}
.prd_delivery span{
	font-size: 14px;
	padding-right: 70px;
	color: black;
}
.prd_delivery .inDelivery{
	font-size: 14px;
	color: black;
}

/* 배송일자 선택 */
.prd_date{
	margin-top: 20px;
	width: 100%;
}
.prd_date_select{
	width: 100%;
	height: 30px;
	text-align: left;
	font-size: 20px;
	color: black;
}

/* 상품 수량 */
.prd_count{
	margin-top: 20px;
}
.prd_count .item_box{
	position: relative;
	border: 1px solid #ccc;
}
.prd_count .item_box .item_top{
	padding: 12px 24px 12px 21px;
	border-bottom: 1px solid #e0e0e0;
	font-size: 0;
}
.item_top > span:first-child{
	padding-left: 0;
}
.item_top .date{
	color: black;
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
}
.item_top span{
	position: relative;
	display: inline-block;
	padding-right: 12px;
	vertical-align: top;
}

.prd_count .item_box .item_bottom{
	padding: 14px 20px 20px;
}
.item_bottom .bottom_info{
	font-size: 0;
}
.item_bottom .st_elps{
	display: inline-block;
	width: 210px;
	color: black;
	font-weight: 500;
	font-size: 15px;
	line-height: 32px;
	vertical-align: top;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}
.item_bottom .prd_quantity{
	display: inline-block;
	padding: 0 9px;
	vertical-align: top;
	font-size: 0;
}
.box_prd_quantity{
	display: inline-block;
	position: relative;
	width: 96px;
	height: 32px;
	border: 1px solid #ccc;
	text-align: center;
	vertical-align: middle;
}
.btn_amount{
	position: absolute;
	border: none;
	vertical-align: middle;
	cursor: pointer;
	top: 0;
	width: 32px;
	height: 32px;
}
.btn_amount.minus{
	left: 0;
}
.btn_amount.plus{
	right: 0;
}
.btn_amount.minus:before,
.btn_amount.plus:before{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 32px;
	height: 32px;
	background: url("../../images/common/ico_set.png") no-repeat;
	background-size: 800px 800px;
}
.btn_amount.minus:before{
	background-position: -264px -38px;
}
.btn_amount.plus:before{
	background-position: -296px -38px;
}
.prd_quantity .quantity{
	display: inline-block;
	width: 40px;
	height: 30px;
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	color: black;
	text-align: center;
}
.item_bottom .price{
	padding-top: 0;
	float: right;
	color: black;
	font-weight: 700;
	font-size: 18px;
	line-height: 32px;
	text-align: right;
}
.item_box .btn_del_order{
	position: absolute;
	top: 8px;
	right: 8px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	vertical-align: middle;
	border: none;
}
.item_box .btn_del_order:after{
	content: '';
	position: absolute;
	left: 8px;
	top: 8px;
	width: 16px;
	height: 16px;
	background: url("../../images/common/ico_set.png") no-repeat -324px 0;
	background-size: 800px 800px;
}

/* 수량 가격 */
.prd_total{
	display: flex;
	flex-direction: row;
}
.cnt{
	font-size: 18px;
	font-weight: 700;
	padding-top: 30px;
}
.price{
	font-size: 36px;
	font-weight: 700;
	color: red;
	margin-left: auto;
	padding-top: 20px;
}
/* 찜하기 및 장바구니 담는버튼 */
.utilBox_wrap{
	margin-top: 60px;
	display: flex;
	flex-direction: row;
}
.zzim{
    position: relative;
    width: 70px;
    height: 70px;
    border: 1px solid #D5D5D5;
}
.zzim_btn{
	position: absolute;
	background: url('../../images/pd/ico_set.png') no-repeat -261px -2px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 22px;
	height: 20px;
}

.cart{
	position: relative;
	margin-left: auto;
	text-align: center;
}
.cart_btn{
	background-color: #bdd61a; 
	width: 426px;
	height: 70px;
    font-size: 20px;
    font-weight: 700;
    color: black;
    line-height: 27px;
}

/* 상품 디테일 박스 */
.detail_wrapper{
	width: 100%;
	margin-top: 80px;
}

/* detail 메뉴 박스 상품정보 등등 */
.detail_menubox{
	width: 100%;
	border-bottom: 1px solid #D5D5D5;
	position: sticky;
	background-color: white;
	z-index: 3;
	top:0;
}
.detail_menu{
	width: 1190px;
	margin: 0 auto;
}
.detail_menu ul li{
	display: inline-block;
	width: 195px;
	height: 64px;
	line-height: 62px;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}
.detail_menu ul li a{
	cursor: pointer;
}

/* detail_info 부분 설명 내용같은거 */
.detail_info{
	width: 1190px;
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

/* 상세설명, 정보, 리뷰, 배송문의 */
.left_detail{
	width: 850px;
	display: flex;
	flex-direction: column;
	padding-right: 25px;
}

/* 상세설명 */
.description_box1{	
	width:100%;
	margin-top: 20px;
	text-align: center;
}
.leftbox_banner{
	margin-top: 50px;
}
.description_box2{
	width: 100%;
	margin-left: 22px;
	margin-bottom: 100px;
}

.description_box2 img{
	width: 100%;
	margin-top:20px;
}

/* 상품정보 */
.productInfo p{
	margin-top: 30px;
}
.productInfo h3{
	margin-top: 30px;
}
.prdInfo_table{
	margin-top: 20px;
	margin-bottom: 50px;
	border-collapse: collapse;
	border-top: 2px solid black;
	width: 100%;
}
.prdInfo_table tr{
	border-bottom: 1px solid #D5D5D5;
}
.prdInfo_table tr td{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 25px;
}
.prdInfo_table tr td:first-child{
	background-color: #EAEAEA;
	font-size: 14px;
	width: 30%;
}

/* 리뷰작성 */

.review_wrap{
	width: 780px;
	padding-top: 72px;
}
.review_rating{
	position: relative;
	margin-bottom: 56px;
	background-color: #f7f7f7;
	padding: 22px 32px;
}
.rating_wrap{
	display: inline-block;
	vertical-align: top;
}
.rating_star{
	display: inline-block;
	padding: 7px 0;
	vertical-align: middle;
}
.rating_star span{
	display: block;
	width: 168px;
	height: 32px;
	background: url("../../images/pd/ico_set.png") no-repeat -502px -2px;
	background-size: 800px 800px;
}
.rating_wrap .num{
	display: inline-block;
	padding-left: 12px;
	vertical-align: middle;
}
.rating_wrap .num .avg{
	display: inline-block;
	color: black;
	font-weight: 700;
	font-size: 28px;
	line-height: 42px;
	vertical-align: middle;
}
.rating_wrap .num .bar{
	display: inline-block;
	margin: 0 2px 0 4px;
	color: #606060;
	font-weight: 400;
	font-size: 24px;
	line-height: 40px;
	vertical-align: middle;
}
.rating_wrap .num .top{
	display: inline-block;
	color: #606060;
	font-weight: 400;
	font-size: 22px;
	line-height: 38px;
	vertical-align: bottom;
}
.review_rating .btn_right{
	position: absolute;
	right: 32px;
	top: 20px;
}
.btn_right .btn{
	width: 160px;
	height: 48px;
	font-weight: 500;
	font-size: 14px;
	line-height: 46px;
	color: black;
	border: 1px solid #BDD61A;
	background-color: #BDD61A;
}

/* 리뷰 정렬단 */

.sorting_top{
	position: relative;
	margin-top: 72px;
	padding-bottom: 16px;
	border-bottom: 2px solid black;
}
.chk_wrap{
	display: inline-block;
}
.chk_wrap input{
	position: absolute;
	z-index: 0;
	opacity: 0;
	vertical-align: middle;
	border: none;
}
.chk_wrap label{
	display: inline-block;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: black;
}
.chk_wrap input + label:before{
	content: '';
	zoom: 1;
	display: inline-block;
	width: 25px;
	height: 26px;
	margin: -3px 6px 0 0;
	background: url("../../images/common/ico_set.png") no-repeat;
	background-position: -1px -40px;
	background-size: 800px 800px;
	vertical-align: middle;
}

.list_sort{
	position: absolute;
	right: 0;
	top: 0;
	font-size: 0;
}

.list_sort .rad_wrap{
	position: relative;
	padding: 0 8px 0 9px;
	display: inline-block;
}
.rad_wrap input{
	position: absolute;
	z-index: 0;
	opacity: 0;
	vertical-align: middle;
	border: none;
}
.rad_wrap input + label{
	margin: 0;
	color: #606060;
	font-size: 16px;
	line-height: 24px;
	text-indent: 0;
	vertical-align: middle;
}
.rad_wrap input:checked + label:before{
	content: '';
	zoom: 1;
	display: inline-block;
	position: relative;
	top: -3px;
	width: 16px;
	height: 16px;
	margin: 0 2px 0 0;
	background: url("../../images/pd/ico_set.png") no-repeat;
	background-position: -48px 0;
	background-size: 800px 800px;
	vertical-align: middle;
}

/* 리뷰 목록 */
.taste_review_list li{
	padding: 24px 0;
	border-top: 1px solid #e0e0e0;
}
.taste_review_list li:first-child{
	border-top: 0;
}

.taste_review_list .top_wrap{
	margin-bottom: 6px;
}
.taste_review_list .top_wrap .tit{
	float: left;
	padding-left: 1px;
}
.taste_review_list .top_wrap .link_id{
	float: left;
	display: inline-block;
	color: black;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}
.taste_review_list .top_wrap time{
	float: right;
	margin: 2px;
	font-size: 14px;
	line-height: 24px;
}

.taste_review_list .etc_info{
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.taste_review_list .etc_info .rating_wrap .rating_star{
	padding: 0;
}
.taste_review_list .etc_info .rating_wrap .rating_star span{
	display: block;
	width: 88px;
	height: 16px;
	background: url("../../images/pd/ico_set.png") no-repeat -374px -26px;
	background-size: 800px 800px;
}

.taste_review_list .link_more{
	display: block;
	width: 100%;
}
.taste_review_list .link_more .txt_wrap{
	width: 574px;
	float: right;
}
.taste_review_list .link_more .txt_wrap .mt_elps{
	max-height: 44px;
	font-size: 14px;
	line-height: 22px;
}

.taste_review_list .link_more .img_left_wrap{
	float: left;
	width: 206px;
}
.taste_review_list .link_more .thumb_img{
	position: relative;
}
.taste_review_list .link_more .thumb_img .img{
	position: relative;
	width: 186px;
	height: 116px;
	overflow: hidden;
}

/* 배송문의 */
.orderHelp h3{
	margin-top: 70px;
	font-size: 24px;
	color: black;
}
.orderHelp p{
	position: relative;
	margin-top: 10px;
}
.orderHelp p button{
	position: absolute;
	border: 1px solid #D5D5D5;
	width: 130px;
	height: 60px;
	right: 0;
	bottom: 0;
}
.orderHelp_table{
	margin-top: 20px;
	border-collapse: collapse;
	border-top: 2px solid black;
	width: 100%;
}
.dropBtn{
	position: relative;
	cursor: pointer;
	font-size: 20px;
	color: black;
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #D5D5D5;
}
.dropBtn_hide{
	display: none;
}
.downArrow{
	position: absolute;
	right: 20px;
	top: 25px;
	background: url('../../images/common/ico_set.png') no-repeat -1282px -5px;
	transform: rotate(90deg);
	width: 17px;
	height: 30px;
}
.dropInfo{
	border-bottom: 1px solid #D5D5D5;
	display: none;
}
.dropInfo_table{
	margin-top: 20px;
	margin-bottom: 20px;
	border-collapse: collapse;
	width: 100%;
}
.dropInfo_table tr td{
	padding-top: 20px;
}
.dropInfo_table tr td:first-child{
	width: 30%;
	vertical-align: top;
	color: black;
}
/* 상세설명 오른쪽박스 장바구니, 선물하기?*/
.border_hauto{
	border-left: 1px solid #D5D5D5;
	border-right: 1px solid #D5D5D5;
	height: auto;
}
.right_detail{
	position: sticky;
	display: flex;
	flex-direction: column;
	z-index: 1;
	top: 64px;
	width: 340px;
	height: 910px;
}
.right_box1{
	width:100%;
	height:100px;
	border-bottom: 1px solid #D5D5D5;
}
.right_box2{
	width:100%;
	height:600px;
}

/* right_box2 의 prd_date select */

.right_box2 .prd_date_select{
	width: 300px;
	margin-top: 50px;
	margin-left: 20px;
	height: 50px;
	text-align: right;
	font-size: 16px;
	color: black;
}

.right_box3{
	width:100%;
	height:210px;
	text-align: center;
	border-top: 1px solid #D5D5D5;
}
.prdCnt{
	margin-top: 80px;
}
.detailCart_btn{
	width: 200px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	margin: 20px auto 0 auto;
	background-color: #bdd61a;
	opacity: 0.5;
}