@charset "UTF-8";

.content { position:relative; min-height:900px; padding:52px 0 140px; }

.top { position: relative; width: 100%; height: 93px; }
.top h2 { display: inline-block; margin-top: 4px; font-size: 40px; line-height: 56px; font-weight: bold; color: #101010; }
.top .step { position: absolute; display: inline-block; top: 0; right: 0; }
.top .step:before { content: ''; position: absolute; top: 36px; display: block; width: 99%; height: 1px; background-color: #e0e0e0; z-index: -1; }
.top .step li { display: inline-block; text-align: center; }
.top .step li span { font-size: 13px; line-height: 21px; color: #606060; }
.top .step li.on span { color: #101010; font-weight: 700; }
.top .step li span:before { content: ''; display: block; width: 64px; height: 64px; margin-bottom: 8px; background: url('/mp/resources/images/op/ico_set.png') no-repeat; background-size: 800px 800px; }

.top .step li.step01 span:before { background-position: 0 0 }
.top .step li.step02 span:before { background-position: -74px 0 }
.top .step li.step03 span:before { background-position: -148px 0 }
.top .step li.step01.on span:before { background-position: 0 -74px }
.top .step li.step02.on span:before { background-position: -74px -74px }
.top .step li.step03.on span:before { background-position: -148px -74px }
.top .step li.step02 { margin: 0 32px; }

/* ===== ===== ===== order_content ===== ===== ===== */
.order_content { width: 780px; margin-top: 24px; }
.order_content:after { content: ''; display: block; clear: both; }
.h_wrap { position: relative; padding: 16px 0; border-bottom: 2px solid #202020; }
.h_wrap h3 { font-size: 22px; line-height: 32px; color: #101010; font-weight: 700; }

/* ===== ===== ===== 주문자 order_member ===== ===== ===== */
.order_content .order_member dl { display: inline-block; width: 382px; margin: 24px 0 0 0; vertical-align: top; }
.order_content .order_member dl.phone { margin-left: 12px; }
.order_content .order_member dt { font-size: 14px; line-height: 22px; color: #101010; font-weight: 400; }
.order_content .order_member dd { margin-top: 8px; }
input.txt {display:inline-block;width:100%;height:48px;padding:0 16px;background-color:#fff;border:1px solid #ccc;color:#101010; font-weight:400; font-size:15px; line-height:23px; }
.bul_req { position: relative; margin-left: 10px;}
.bul_req:after {content:'';display:block;position:absolute;top:5px;right:0;width:7px;height:7px;background:url('/mp/resources/images/common/ico_set.png') no-repeat;background-position:0 0;background-size:800px 800px;}


/* phone */
.input_mobile_num {display: flex; justify-content: space-between; width: 100%;}
.input_mobile_num .input_wrap {display: inline-block; width:31.5%;margin-left:0;}
.input_mobile_num select {display: inline-block; width:100%;height: 48px;padding:0 32px 0 16px;background:transparent; border:1px solid #ccc; color:#101010;}
.input_mobile_num .dis select,
.input_mobile_num .dis input.txt {background-color:#F7F7F7;border:1px solid #ccc;color:#606060;}
.input_mobile_num .dis select[disabled],
.input_mobile_num .dis input[disabled].txt {color:#b0b0b0;}
.input_mobile_num .dis input[readonly].txt {color:#606060;}


/* ===== ===== ===== 배송정보 delivery_info ===== ===== ===== */
.delivery_info { margin-top: 56px; }

.delivery_location_wrap { margin-top: -1px; border: 1px solid #ccc; table-layout: fixed; }
.delivery_location_wrap:after { content: ''; display: block; clear: both; }

.delivery_location_wrap .delivery_location{ height:140px; display: inline-block; position: relative; width: 187px; padding: 25px 12px 26px 31px; background-color: #F7F7F7; vertical-align: top; }
.delivery_location_wrap .delivery_location h4 { font-size: 18px; line-height: 27px; color: #101010; font-weight: 500; }

.delivery_location_wrap .location_detail { float:right; position:relative; width: 591px;padding: 25px 24px 26px 24px;vertical-align: top;}
.delivery_location_wrap .location_detail .btn_link {position:absolute;right:31px;top:25px;}
.delivery_location_wrap .location_detail .btn_link{display:inline-block;font-weight:400;font-size:14px;line-height:21px;color:#606060;}
.delivery_location_wrap .location_detail .btn_link:after{content:'';display:inline-block;width:8px;height:8px;margin:-3px 0 0 4px;border-bottom:1.5px solid #606060;border-right:1.5px solid #606060;-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);vertical-align:middle}
.delivery_location_wrap .location_detail dt strong { font-size: 18px; line-height: 27px; color: #101010; font-weight: 500; vertical-align: middle }
.delivery_location_wrap .location_detail dt span { margin-left: 4px; font-size: 13px; line-height: 21px; color: #008A00; vertical-align: middle }
.delivery_location_wrap .location_detail ul { margin-top: 12px; }
.delivery_location_wrap .location_detail ul li { margin-top: 4px; font-size: 14px; line-height: 22px; }
.delivery_location_wrap .location_detail ul li:first-child { margin-top: 0; }
.delivery_location_wrap .location_detail ul li em { display: inline-block; width: 144px; margin-top: 4px; color: #101010; vertical-align: top; font-style: normal; }
.delivery_location_wrap .location_detail ul li>span { display: block; width: auto; margin-top: 4px; }
.delivery_location_wrap .location_detail ul li span { color: #606060; font-weight: 400; font-size: 14px; line-height: 22px; vertical-align: top; }
.delivery_location_wrap .location_detail ul li.method { margin-top: 18px; }
.delivery_location_wrap .location_detail ul li .detail>span  { display: block; margin-top: 4px; }
.delivery_location_wrap .location_detail ul li .detail span span { margin-left: 8px; color: #101010; }

.add_location_wrap { padding-top:31px; height: 146px; text-align: center;}
.add_location_wrap p { font-size: 14px; line-height: 22px; clear: #606060; }
.add_location_wrap a { margin-top: 16px; font-size: 14px; font-weight: 500; line-height: 22px; color: #101010; display:inline-block;min-width:142px;padding:11px 20px 11px;border:1px solid #ccc;text-align:center;}
.add_location_wrap a > span:after{content:'';display:inline-block;width:8px;height:8px;margin:-3px 0 0 8px;border-bottom:1.5px solid #202020;border-right:1.5px solid #202020;-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);vertical-align:middle}


/* prd_detail_wrap */
.prd_detail_wrap { margin-top: -1px; padding: 26px 31px 10px; border: 1px solid #CCC; }

.prd_detail_wrap .recieve_date { padding-bottom: 10px; }
.prd_detail_wrap .recieve_date strong { font-size: 18px; line-height: 27px; color: #101010; font-weight: 500; vertical-align: middle }
.prd_detail_wrap .recieve_date span { margin-left: 4px; font-size: 13px; line-height: 21px; color: #0379A6; vertical-align: bottom; }

.prd_detail_wrap .prd_list li { width: 100%; padding: 16px 0; border-top: 1px solid #e0e0e0;}
.prd_detail_wrap .prd_list li:first-child { border: 0; }
.prd_detail_wrap .prd_list .prd_info{position:relative; padding:0 0 0 104px; display:table-cell; height:80px; vertical-align:middle}
.prd_detail_wrap .prd_list .prd_info .img_wrap { position: absolute; width: 80px; height: 80px; left: 0; top: 0; overflow: hidden;}
.prd_detail_wrap .prd_list .prd_info .img_wrap img { position: absolute; top: 50%; width: 100%;  -ms-transform:translate(0, -35%); -webkit-transform:translate(0, -50%); -moz-transform:translate(0, -50%);transform:translate(0, -50%);}
.prd_detail_wrap .prd_list .prd_info .info_wrap {  display: table-cell; height: 80px; width: 320px; padding: 10 0;}
.prd_detail_wrap .prd_list .prd_info .info_wrap .product_name { display: block; font-size: 16px; line-height: 24px; color: #101010; }
.prd_detail_wrap .prd_list .prd_info .info_wrap .product_price { display: block; font-size: 18px; font-weight: 700; line-height: 27px; color: #101010; margin-top: 8px;}
.prd_detail_wrap .prd_list .prd_info .quantity_wrap {  display: table-cell; width: 168px; font-size: 13px; line-height: 32px; color: #606060; text-align: right; vertical-align: middle; }
.prd_detail_wrap .prd_list .prd_info .price_wrap {  display: table-cell; width: 120px; font-size: 18px; font-weight: 700; line-height: 27px; color: #101010; text-align: right; vertical-align: middle; }


/* ===== ===== ===== 포인트 및 기타결제 point ===== ===== ===== */
.point { margin-top: 40px;}

.point li { position: relative; margin-top: 12px; height: 48px;}
.point li:first-child { margin-top: 24px;}

.point input.txt { position: absolute; right: 0; width: 35%; height: 100%; text-align: right; }
.point input[disabled].txt {background-color: #F7F7F7; }
.point input::placeholder { color: #101010; }
.point input[disabled]::placeholder { color: b0b0b0; }
/* .point input::-webkit-outer-spin-button, */
/* .point input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; } */
 
.point .check_wrap { display: table-cell; vertical-align: middle; height: 48px; }
.point .check_wrap input { position: absolute; visibility: hidden; }
.point .check_wrap label { font-size: 18px; font-weight: 500; line-height: 27px; color: #101010; cursor: pointer; }
.point .check_wrap input:disabled + label { cursor: default; }

.point .check_wrap label:before {content:'';zoom:1;display:inline-block;width:25px;height:26px;margin:-3px 6px 0 0;background:url('/mp/resources/images/common/ico_set.png') no-repeat;background-position:-1px -40px; background-size:800px 800px; vertical-align:middle;}
.point .check_wrap input:checked + label:before {background-position:-29px -40px}
.point .check_wrap input:disabled + label:before{background-position:-56px -40px}
.point .check_wrap span { font-size: 18px; line-height: 27px; color: #008A00; margin-left: 4px;}

/* ===== ===== ===== order_sticky ===== ===== ===== */
.order_sticky { position: absolute; top: 169px; right: 0; width: 320px;}
.payment_info { padding: 26px 24px; background-color: #F7F7F7; }
.payment_info dl { position: relative; display: block; padding: 16px 0px; border-bottom: 1px solid #E0E0E0; }
.payment_info dt { display: inline-block; font-size: 16px; font-weight: 500; line-height: 24px; color: #101010; }
.payment_info dd { position: absolute; right: 0; display: inline-block; font-size: 16px; font-weight: 700; line-height: 24px; color: #101010; }
.payment_info dl:first-child { padding-top: 0px;}

.potin_info { padding: 16px 0px; border-bottom: 1px solid #E0E0E0; }
.potin_info p{ padding-bottom: 13px; font-size: 16px; line-height: 24px; color: #101010; font-weight: 500; }
.potin_info dl { display: block; padding: 2px 0; border: 0 none;}
.potin_info dt,
.potin_info dd{ font-size: 14px; font-weight: 400; line-height: 22px; color: #606060; }

dl.total { padding-bottom: 0px; border-bottom: 0px none; }
.total dt { margin-top: 13px; }
.total dd { font-size: 28px; font-weight: 700; line-height: 42px; color: #EE0700; }

.btn{display:inline-block;width:100%;height:56px;text-align:center;font-weight:700;font-size:18px;line-height:54px;}
.btn.green{color:#101010;border:1px solid #BDD61A;background-color:#BDD61A;}
.btn.green:active{border:1px solid #97AB14;background-color:#97AB14;}
.btn.marg{ margin-top: 16px; }