<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.d.mp.cs.notice.NoticeDAO">
  
  <!-- list -->
  <select id="getNoticeList" parameterType="boardPager"  resultType="NoticeDTO">
  	SELECT * FROM
  	 (SELECT rownum r, n.* FROM
  	  (SELECT * FROM notice ORDER BY notice_id DESC)
  	   n)
  	   WHERE r BETWEEN #{startRow} AND #{lastRow}
  </select>
  
  <!-- paging -->
  
  <select id="getCount" parameterType="boardPager" resultType="Long">
  	SELECT COUNT(notice_id) FROM notice
  </select>
  
  <!-- insert -->
  
  <insert id="setInsert" parameterType="NoticeDTO">
  	<selectKey order="BEFORE" resultType="Long" keyProperty="notice_id">
  		SELECT notice_seq.nextval from DUAL	
  	</selectKey>
  	
  		INSERT INTO notice VALUES(#{notice_id}, #{notice_subject}, #{notice_content}, sysdate)
  	
  </insert>
  
  <!-- detail page view -->
  <select id="getNoticeView" parameterType="NoticeDTO" resultType="NoticeDTO">
  		SELECT * FROM notice WHERE notice_id = #{notice_id}
  </select>

  <!-- delete -->
  
  <delete id="setDelete" parameterType="NoticeDTO">
	DELETE notice WHERE notice_id = #{notice_id}  
  </delete>	
	
  
  <!-- file -->
  <insert id="setFile" parameterType="NoticeFileDTO">
  	INSERT INTO notice_file VALUES(notice_file_seq.nextval, #{notice_id}, #{notice_file_name}, #{notice_file_ori_name})
  </insert>
  
  <select id="getFile" parameterType="NoticeDTO" resultType="NoticeFileDTO">
  	SELECT * FROM notice_file WHERE notice_id = #{notice_id}
  </select>
  
  <delete id="setFileDelete" parameterType="NoticeFileDTO">
  	DELETE notice_file WHERE notice_file_id = #{notice_file_id}
  
  </delete>
  </mapper>