<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.d.mp.cs.notice.NoticeDAO">
  
  <!-- list -->
  <select id="getNoticeList" parameterType="BoardPager"  resultType="NoticeDTO">
  	SELECT 
  		* 
  	FROM 	
  		notice
  	 ORDER BY notice_id DESC
  	   
  </select>
  

  <!-- insert -->
  
  <insert id="setInsert" parameterType="NoticeDTO">
  	<selectKey order="BEFORE" resultType="Long" keyProperty="notice_id">
  		SELECT notice_seq.nextval from DUAL	
  	</selectKey>
  	
  		INSERT INTO notice VALUES(#{notice_id}, #{notice_subject}, #{notice_content}, sysdate)
  	
  </insert>
  
  <!-- detail page view -->
  <select id="getNoticeView" parameterType="NoticeDTO" resultType="NoticeDTO">
  		SELECT * FROM notice WHERE notice_id = #{notice_id}
  </select>

  <!-- delete -->
  
  <delete id="setDelete" parameterType="NoticeDTO">
	DELETE notice WHERE notice_id = #{notice_id}  
  </delete>	
	
  
  </mapper>