<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.d.mp.cs.qna.QnaDAO">
  
  
  <!-- 개인회원 -->
  <!-- 문의작성하기 -->
  <insert id="setFormcounselUpload" parameterType="QnaDTO">
  	<selectKey order="BEFORE" resultType="Long" keyProperty="qna_id">
  		SELECT qna_seq.nextval FROM dual
  	</selectKey>
  	INSERT INTO qna(qna_id, member_id, qna_content, qna_type, qna_email, qna_phone, qna_date, payment_id, qna_product_name)
  			 
  	VALUES
  		(#{qna_id}, #{member_id}, #{qna_content}, #{qna_type}, #{qna_email}, #{qna_phone}, sysdate, #{payment_id, jdbcType=INTEGER}, #{qna_product_name, jdbcType=VARCHAR})
  
  </insert>
  
  <!-- 내가작성한 문의내역 보기  -->
	<select id="getMyCounselList" parameterType="MemberDTO" resultType="QnaDTO">
		SELECT
			*
		FROM
			qna
		WHERE
			member_id = #{member_id}
		ORDER BY
			qna_id DESC
	</select>

	<!-- 내가 작성한 문의내역 삭제  -->
	<delete id="setDeleteMyCounsel" parameterType="QnaDTO">
	
		DELETE 
			qna
		WHERE
			qna_id = #{qna_id}
	
	</delete>
	<!--//회원  -->
	
	
	<resultMap type="QnaDTO" id="getSelectResult">
		<id column="qna_id" property="qna_id"/>
		<result column="member_id" property="member_id"/>
		<result column="payment_id" property="payment_id"/>
		<result column="qna_product_name" property="qna_product_name"/>
		<result column="qna_content" property="qna_content"/>
		<result column="qna_type" property="qna_type"/>
		<result column="qna_email" property="qna_email"/>
		<result column="qna_date" property="qna_date"/>
		<result column="qna_answer" property="qna_answer"/>
		<result column="qna_answer_date" property="qna_answer_date"/>
		<result column="qna_phone" property="qna_phone"/>
		
		<collection property="file" javaType="List" ofType="QnaFileDTO">
			<id column="qna_file_id" property="qna_file_id"/>
			<result column="qna_id" property="qna_id"/>
			<result column="qna_file_name" property="qna_file_name"/>
			<result column="qna_file_ori_name" property="qna_file_ori_name"/>
		</collection>
	</resultMap>
	

	
	<!-- 관리자 -->
  	<!-- 회원 1:1 문의 내역 모두 보기 -->
  	<select id="getMemberCounselList" resultMap="getSelectResult">
  		SELECT 
  			*
  		FROM	
  			qna
  			LEFT JOIN qna_file USING (qna_id)
  		ORDER BY	
  			qna_id DESC
  	</select>
  	
  	
  	
  	<!-- 회원 한명의 문의내역 보기 -->
  	<select id="getOneCounselList" parameterType="QnaDTO" resultMap="getSelectResult">
  		SELECT 
  			*
  		FROM 
  			qna
  			LEFT JOIN qna_file USING (qna_id)
  		WHERE 
  			qna_id = #{qna_id}
  		ORDER BY qna_id DESC
  	</select>
  	
  	<!-- 회원 1:1 문의 답변 작성 -->
  	<update id="setCounselComment" parameterType="QnaDTO">
  		UPDATE
  			qna
  		SET
  			qna_answer = #{qna_answer},
  			qna_answer_date = sysdate
  		WHERE 
  			qna_id = #{qna_id}
  	</update>
  
  <!-- 파일 -->
  <insert id="setFile" parameterType="QnaFileDTO">
  		INSERT INTO
  			qna_file
  		VALUES(qna_file_seq.nextval, #{qna_id}, #{qna_file_name}, #{qna_file_ori_name}) 
  
  </insert>
  
  <select id="getFiels" parameterType="QnaDTO" resultType="QnaFileDTO">
  	SELECT 
  		*
  	FROM 
  		qna_file
  	WHERE 
  		qna_file_id = #{qna_file_id} 
  	
  </select>
  
  </mapper>