<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.d.mp.cs.qna.QnaDAO">
  
  
  <!-- 개인회원 -->
  <!-- 문의작성하기 -->
  <insert id="setFormcounselUpload" parameterType="QnaDTO">
  	<selectKey order="BEFORE" resultType="Long" keyProperty="qna_id">
  		SELECT qna_seq.nextval FROM dual
  	</selectKey>
  	INSERT INTO qna(qna_id, member_id, qna_content, qna_type, qna_email, qna_phone, qna_date, payment_id)
  			 
  	VALUES
  		(#{qna_id}, #{member_id}, #{qna_content}, #{qna_type}, #{qna_email}, #{qna_phone}, sysdate, #{payment_id, jdbcType=INTEGER} )
  
  </insert>
  
  <!-- 내가작성한 문의내역 보기  -->
	<select id="getMyCounselList" parameterType="MemberDTO" resultType="QnaDTO">
		SELECT
			*
		FROM
			qna
		WHERE
			member_id = #{member_id}
		ORDER BY
			qna_id DESC
	</select>

	<!-- 내가 작성한 문의내역 삭제  -->
	<delete id="setDeleteMyCounsel" parameterType="QnaDTO">
	
		DELETE 
			qna
		WHERE
			qna_id = #{qna_id}
	
	</delete>
	<!--//회원  -->
	
	<!-- 관리자 -->
  	<!-- 회원 1:1 문의 내역 모두 보기 -->
  	<select id="getMemberCounselList" resultType="QnaDTO">
  		SELECT 
  			*
  		FROM	
  			qna
  		ORDER BY	
  			qna_id DESC
  	</select>
  
  
  </mapper>