@charset "UTF-8";
		
body{background: url('/mp/resources/images/common/bg_rv_container.png') repeat-x 0 977px;}

.hide {display: inline-block;position:absolute;z-index:-10;width:0 !important;height:0 !important;overflow:hidden !important;font-size:medium;line-height:normal;word-break:break-all}

h2{padding-bottom: 36px;color: #101010;font-size: 40px;line-height: 56px;font-weight: 700;border-bottom: 4px solid #202020;}

#content{min-height: 900px;padding-bottom: 140px;padding-top: 52px;}





/* ===== ===== ===== best_review ===== ===== ===== */
.best_review {height:628px; overflow:hidden; position:relative;}
.best_review .slide_wrap {overflow:hidden;height:628px;padding:48px 0 0;}
.best_review .slide_wrap .slide_list {overflow: hidden;}
.best_review .slide_wrap .slide_list:after {content:''; display:inline-block; position:absolute; right:0; top:48px; width:206px; height:535px; background:rgba(255,255,255,0.76);background:linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.66) 96%);}
.best_review .slide_wrap .slide_track {display:flex;}
.best_review .slide_wrap .slide_contents {margin-right:48px;vertical-align:top;float: left;} 

.best_review .slide_wrap .item .img_wrap {position:relative; width:520px; height:324px; overflow:hidden;}
.best_review .slide_wrap .item .img_wrap .best_flag {position:absolute; top:0; left:20px; width:66px; height:66px; background-color:rgba(0,138,0,0.8); text-align:center; z-index:5;}
.best_review .slide_wrap .item .img_wrap .best_flag .flag_txt {display:block; padding-top:34px; color:#fff; font-size:14px; line-height:22px; font-weight:500;}
.best_review .slide_wrap .item .img_wrap img {position:absolute; width:100%; height:auto; margin:auto; top:50%; left:0; -ms-transform: translateY( -50% ); -moz-transform: translateY( -50% ); transform: translateY( -50% );}

.best_review .slide_wrap .item .txt_wrap {width:520px;height:181px; margin-top:16px;}
.best_review .slide_wrap .item .txt_wrap .tit {display:block; color:#101010; font-size:32px; line-height:48px; font-weight:700;}
.best_review .slide_wrap .item .txt_wrap .etc_info {position:relative; padding-top:8px; font-size:0;}
.best_review .slide_wrap .item .txt_wrap .etc_info .rating_star {display:inline-block; vertical-align:top; padding:0;}
.best_review .slide_wrap .item .txt_wrap .etc_info .star,
.best_review .slide_wrap .item .txt_wrap .etc_info .star span {display:block; width:132px; height:24px; background:url('/mp/resources/images/common/ico_set.png') no-repeat 0 -360px; background-size:800px 800px;}
.best_review .slide_wrap .item .txt_wrap .etc_info .star span {background-position:0 -384px;}
.best_review .slide_wrap .item .txt_wrap .etc_info .user_id {display:inline-block; color:#606060; font-size:16px; line-height:24px; vertical-align:middle;}
.best_review .slide_wrap .item .txt_wrap .etc_info .user_id:before {content:''; display:inline-block; width:1px; height:14px; margin:0 10px; background-color:#e0e0e0; vertical-align:middle;}
.best_review .slide_wrap .item .txt_wrap .txt {margin-top:32px; color:#606060; font-size:15px; line-height:23px; overflow:hidden; max-height:69px; text-overflow:ellipsis; word-wrap:break-word; -moz-line-clamp:3; -ms-line-clamp:3; -webkit-line-clamp:3;}

/* slide_nav */
.best_review .slide_nav_count {position:absolute; left:33px; bottom:0; width:42px; text-align:center; z-index:2;}
.best_review .slide_nav_count .num {display:inline-block; color:#101010; font-size:18px; line-height:27px; font-weight:400; vertical-align:middle; letter-spacing:2px;}
.best_review .slide_nav_count .num em {font-style:normal}
.best_review .slide_nav_arrow {position:absolute; bottom:0; left:0; width:105px;}
.best_review .slide_nav_arrow .arr_area {position:relative;}
.best_review .slide_nav_arrow .btn_arrow {position:absolute; width:24px; height:24px; background:url('/mp/resources/images/common/ico_set.png') no-repeat; background-size:800px 800px;}
.best_review .slide_nav_arrow .btn_arrow.prev {bottom:0; left:0; background-position:-540px 0;}
.best_review .slide_nav_arrow .btn_arrow.next {bottom:0; right:0; background-position:-564px 0;}



/* ===== ===== ===== family_review ===== ===== ===== */
.family_review{padding:60px 0 46px;background:#f7f7f7;margin-top:85px;overflow:hidden;}
.family_wrap {position: relative;}
.family_wrap .title_box{position:relative;margin-bottom:42px;}
.family_wrap .title_box h2{font-size:24px;line-height:34px;font-weight:700;border-bottom:0;padding-bottom:0;}
.family_wrap .title_box .btn_review{position:absolute;right:0;top:12px;font-size:16px;font-weight:700;color:#101010;background:url('/mp/resources/images/common/ico_instagram.svg') no-repeat 0 2px;padding-left:26px;}
.family_wrap .title_box .btn_review:after{content:'';display:inline-block;width:20px;height:20px;background:url('/mp/resources/images/common/ico_arrow.svg') no-repeat 0 2px;vertical-align:top;margin-left:4px;}

.family_wrap .slide_wrap {position: relative;}
.family_wrap .slide_list:after{content:''; display:inline-block; position:absolute; right:0; top:0; width:206px; height:635px; background:rgba(247,247,247,0.76);
background:linear-gradient(90deg, rgba(247,247,247,0) 0%, rgba(247,247,247,0.66) 96%);}
.family_wrap .slide_track{display:flex;} 
.family_wrap .slide_track .slide_contents{position:relative;width:333px;margin-right:16px;vertical-align:top;}
.family_wrap .slide_track .slide_contents .txt_wrap{position:relative;padding-top:56px;}
.family_wrap .slide_track .slide_contents .txt_wrap:before{content:'';display:block;position:absolute;left:0;top:24px;width:28px;height:22px;background:url('/mp/resources/images/common/ico_review.svg') no-repeat;}
.family_wrap .slide_track .slide_contents .txt_wrap .review_title{display:block;width:314px;font-size:20px;line-height:30px;height:60px;font-weight:700;color:#101010;overflow:hidden;text-overflow:ellipsis;word-wrap:break-word;-moz-line-clamp:2;-ms-line-clamp:2;-webkit-line-clamp:2;}
.family_wrap .slide_track .slide_contents .txt_wrap .review_txt{width:314px;margin-top:15px;font-size:15px;line-height:23px;color:#606060;height:92px;overflow:hidden;text-overflow:ellipsis;word-wrap:break-word;-moz-line-clamp:4;-ms-line-clamp:4;-webkit-line-clamp:4;}
.family_wrap .slide_track .slide_contents .txt_wrap .family_info_box{padding:22px 0 65px;display:flex;align-items:center;}
.family_wrap .slide_track .slide_contents .txt_wrap .family_info_box > p{margin-left:16px;}
.family_wrap .slide_track .slide_contents .txt_wrap .family_info_box > p span{font-size:15px;color:#101010;}
.family_wrap .slide_track .slide_contents .txt_wrap .family_info_box > p em{display:block;font-size:12px;line-height:16px;font-style:normal;color:#999;}

.family_wrap .slide_nav_count {position:absolute; left:33px; bottom:0; width:42px; text-align:center; z-index:2;}
.family_wrap .slide_nav_count .num {display:inline-block; color:#101010; font-size:18px; line-height:27px; font-weight:400; vertical-align:middle; letter-spacing:2px;}
.family_wrap .slide_nav_count .num em {font-style:normal}
.family_wrap .slide_nav_arrow{position:absolute;left:0p;bottom:0;width:105px;}
.family_wrap .slide_nav_arrow .arr_area{position:relative;}
.family_wrap .slide_nav_arrow .btn_arrow {position:absolute; width:24px; height:24px; background:url('/mp/resources/images/common/ico_set.png') no-repeat; background-size:800px 800px;}
.family_wrap .slide_nav_arrow .btn_arrow.prev {bottom:0; left:0; background-position:-540px 0;}
.family_wrap .slide_nav_arrow .btn_arrow.next {bottom:0; left:82px; background-position:-564px 0;}


		
		
/* ===== ===== ===== taste_review ===== ===== ===== */
.taste_review{padding-top:80px;}

/* review_srch */
.review_srch{position: relative; box-sizing: border-box; width: 1180px; height: 133px; padding: 32px; border-top: 1px solid #202020;  background-color:#f7f7f7;}
.review_srch .srch_wrap{position:relative; z-index:30; width:644px; margin:0 auto;}
.review_srch .srch_wrap .txt{display: block; width:644px; height:68px; padding:0 106px 0 20px; border:2px solid #202020; color:#101010; font-weight:700; font-size:20px; opacity:1;}
.review_srch .srch_wrap .btn_srch{position: absolute; border:0; right:18px; top:50%; width:32px; height:32px; margin-top:-16px; background:url('/mp/resources/images/pd/ico_set.png') -600px -150px no-repeat; background-size:800px 800px;}
	
/* review_top */
.review_top{position: relative; margin-top:56px; padding-bottom:16px; border-bottom:2px solid #202020;}
.review_top .total{display: inline-block; color: #101010;font-weight: 700;font-size: 22px;line-height: 32px;}
.review_top .list_sort {display: inline-block; position: absolute; right: 0px;}
.review_top .list_sort input{z-index:0; opacity:0; filter:alpha(opacity=0)}
.review_top .list_sort label:before {content:'';zoom:1;display:inline-block;width:25px;height:26px;margin:-3px 6px 0 0;background:url('/mp/resources/images/common/ico_set.png') no-repeat;background-position:-1px -40px; background-size:800px 800px; vertical-align:middle;}
.review_top .list_sort label{display: inline-block; color: #101010; font-size:16px; line-height:24px;cursor: pointer;}
.review_top .list_sort input:checked + label:before {background-position:-29px -40px;}

/* review_area */
.review_area li {padding:24px 0; border-top:1px solid #e0e0e0;}

	/* top_wrap */
.review_module .top_wrap {margin-bottom:6px;}
.review_module .top_wrap .title {display: inline-block; padding-left:1px;}
.review_module .top_wrap .title .name {float: left; display:inline-block; width:560px; color:#101010; font-weight:700; font-size:16px; line-height:24px;}
.review_module .top_wrap time {display: inline-block; float: right; margin-top:2px; font-size:14px; line-height:24px;}

	/* etc_info */
.review_module .etc_info {float:left; width:100%; margin-bottom:20px;}
.review_module .etc_info .rating_star {display:inline-block; padding:7px 0; vertical-align:middle;}
.review_module .etc_info .rating_star .star,
.review_module .etc_info .rating_star span{display:block; width:88px; height:16px; background:url('/mp/resources/images/pd/ico_set.png') no-repeat -374px -26px; background-size:800px 800px;}
.review_module .etc_info .rating_star span{background-position:-374px 0;}
.review_module .etc_info .user_id {display:inline-block; color:#606060; font-size:14px; line-height:22px; vertical-align:middle}
.review_module .etc_info .user_id:before {content:''; display:inline-block; width:1px; height:14px; margin:0 10px; background-color:#e0e0e0; vertical-align:middle}
.review_module .etc_info .purchase_num {display:inline-block; color:#606060; font-size:14px; line-height:22px; vertical-align:middle}
.review_module .etc_info .purchase_num:before {content:''; display:inline-block; width:1px; height:14px; margin:-2px 10px 0; background-color:#e0e0e0; vertical-align:middle}

	/* link_wrap > link_more*/
.review_module .link_more {display:block; width:100%;}
.review_module .link_more:after{content:'';display:table;clear:both;}

.review_module .link_more .txt_wrap {float:right; width:100%;}
.review_module.photo .link_more .txt_wrap {width:974px;}
.review_module .link_more .txt_wrap .txt_contents {max-height:44px; font-size:14px; line-height:22px; color: #606060; overflow: hidden;}
.review_module .link_more .txt_wrap .tag_wrap { display:none; padding-top:8px; color:#008A00; font-size:13px; line-height:21px;}
.review_module .link_more .txt_wrap .tag_wrap span { margin-right: 5px;}

.review_module .link_more .tip_wrap {position:relative; margin-top:8px; padding:8px 16px 8px 47px; -ms-border-radius:0 8px 8px 8px; -moz-border-radius:0 8px 8px 8px; -webkit-border-radius:0 8px 8px 8px; border-radius:0 8px 8px 8px; background-color:#f7f7f7;}
.review_module .link_more .tip_wrap .tip_ico {position:absolute; left:16px; top:14px; width:31px;}
.review_module .link_more .tip_wrap .tip_ico:before {content:''; position:absolute; left:0; top:0; width:23px; height:10px; background:url('/mp/resources/images/pd/ico_set.png') -490px -130px no-repeat; background-size:800px 800px;}
.review_module .link_more .tip_wrap .tip_txt{color:#606060; font-size:13px; line-height:21px; vertical-align:top;}


.review_module .link_more .img_wrap {float:left; width:206px;}
.review_module .link_more .thumb_img {position:relative;}
.review_module .link_more .thumb_img .img {position:relative; width:186px; height:116px; overflow:hidden;}
.review_module .link_more .thumb_img img {position:absolute; width:100%; height:auto; margin:auto; top:50%; left:0; -ms-transform: translateY( -50% ); -moz-transform: translateY( -50% ); transform: translateY( -50% );}
.review_module .link_more .thumb_img .lang {position:absolute; z-index:3; right:20px; bottom:0; width:24px; height:24px; background-color:rgba(32,32,32,.5); color:#fff; font-weight:700; font-size:13px; line-height:24px; text-align:center}

.review_module .link_more .bigger_img {display:none; }
.review_module .link_more .bigger_img .img {width:100%; margin-top:16px; width:100%; text-align:center;}
.review_module .link_more .bigger_img .img:first-child {margin-top:0;}
.review_module .link_more .bigger_img img {width:780px;}

.review_module.open .link_more .txt_wrap .txt_contents { max-height: none; }
.review_module.open .link_more .img_wrap,
.review_module.photo.open .link_more .txt_wrap {width:100%;}
.review_module.open .link_more .img_wrap {margin-top:16px;}
.review_module.open .link_more .img_wrap,
.review_module.open .link_more .tag_wrap,
.review_module.open .link_more .bigger_img {display:block;}
.review_module.open .link_more .thumb_img {display:none;}

	/* pagination */
.pagination {padding-top:56px; font-size:0; text-align:center; border-top:1px solid #e0e0e0;}
.pagination a,
.pagination strong {display:inline-block; min-width:40px; height:40px; background-color:#fff; color:#606060; font-size:14px; font-weight:700; text-align:center; line-height:40px; vertical-align:top; }
.pagination strong {background-color:#202020; color:#fff;}
.pagination a:hover,
.pagination a:focus {text-decoration:underline;}
.pagination .page_num {display:inline-block; padding:0 20px; vertical-align:middle;}
.pagination .btn_first,
.pagination .btn_prev,
.pagination .btn_next,
.pagination .btn_last {display:inline-block; width:40px; height:40px; margin:0 -0.5px; padding:0; background:url('/mp/resources/images/common/ico_set.png') no-repeat; background-size:800px 800px; vertical-align:middle;}
.pagination .btn_first {background-position:0 -300px;}
.pagination .btn_prev {background-position:-40px -300px;}
.pagination .btn_next {background-position:-80px -300px;}
.pagination .btn_last {background-position:-120px -300px;}

	/* 리뷰-guide */
.review_point_guide {margin-top:55px;padding:26px 0 26px 0; background-color:#f7f7f7;}
.review_point_guide span {color:#008A00;}
.review_point_guide .cj_point_txt {padding:0 32px 20px; color:#101010; font-weight:700; font-size:18px; line-height:27px;}
.review_point_guide dl {position:relative; float:left; width:25%; padding-left:11%;/* padding-left:81px; */ padding-right:5px; margin-bottom:16px;}
.review_point_guide dl:before {content:''; position:absolute; left:0; top:4px; width:1px; height:36px; background-color:#e0e0e0; font-size:0; line-height:0}
.review_point_guide dt {color:#101010; font-weight:700; font-size:14px; line-height:22px;}
.review_point_guide dd {color:#606060; font-size:14px; line-height:22px;}
.review_point_guide dd:after {content:''; position:absolute; left:80px; top:50%; width:32px; height:32px; margin-top:-16px; background:url('/mp/resources/images/pd/ico_set.png') no-repeat; background-size:800px 800px;}

.review_point_guide dl.photo:before {display:none}
.review_point_guide dl.photo dd:after {background-position:-614px -86px;}
.review_point_guide dl.text dd:after {background-position:-666px -86px;}
.review_point_guide dl.tip dd:after {background-position:-718px -86px;}
.review_point_guide dl.best dd:after {background-position:-768px -86px;}

.review_point_guide .review_info_list {clear:both; padding-left:32px; padding-right:32px;}
.review_point_guide .review_info_list .list_dot {display:inline-block;width:3px;height:3px;margin:8px 6px 0 0;background-color:#b0b0b0;vertical-align:top;}
.review_point_guide .review_info_list li{text-indent:-10px;margin-left:10px;margin-top:6px;font-size:13px;line-height:20px;}
.review_point_guide .review_info_list li:first-child{margin-top:0;}