@charset "UTF-8";

.cont_header .h1_tit{font-size:48px;line-height:48px; color:#222222; }
.cont_header {padding-top:45px; text-align:center;}
.cont_header .h_desc {padding-top:30px; color:#555; font-size:16px; letter-spacing:0.5px; font-weight:400; }
.cont_header .btn {font-size:14px;}
.cont_area {padding-top:60px;}

.member_join {margin-top:-10px;}
.member_join .btn_sec {margin:40px 0; text-align:center;}
.member_join .step_join {text-align:center;}
.member_join .step_join ul {display:inline-block; *padding-left:204px;}
.member_join .step_join ul li {position:relative; float:left; width:115px; margin:0 23px; padding-top:73px; font-size:16px; letter-spacing:-1px;}
.member_join .step_join ul li.on {color:#ee6900; text-decoration:underline;}
.member_join .step_join ul li span.haze {display:block; position:absolute; width:62px; height:62px; top:0; left:26px; text-indent:-9999em;}
.member_join .step_join ul li span.line {position:absolute; width:44px; height:1px; background:#ddd; top:42px; right:-44px;}
.member_join .step_join ul li.step1 .haze,
.member_join .step_join ul li.step1_1 .haze,
.member_join .step_join ul li.step2 .haze,
.member_join .step_join ul li.step3 .haze,
.member_join .step_join ul li.step4 .haze {background:url('../../images/checkNjoin/bg_member.png') no-repeat left top;}
.member_join .step_join ul li.step1 .haze {background-position:0 0;}
.member_join .step_join ul li.step1_1 .haze {background-position:-100px 0;}
.member_join .step_join ul li.step2 .haze {background-position:-200px 0;}
.member_join .step_join ul li.step3 .haze {background-position:-300px 0;}
.member_join .step_join ul li.step4 .haze {background-position:-400px 0;}
.member_join .step_join ul li.on.step1 .haze {background-position:0 -70px;}
.member_join .step_join ul li.on.step1_1 .haze {background-position:-100px -70px;}
.member_join .step_join ul li.on.step2 .haze {background-position:-200px -70px;}
.member_join .step_join ul li.on.step3 .haze {background-position:-300px -70px;}
.member_join .step_join ul li.on.step4 .haze {background-position:-400px -70px;}

.member_join.uni .box_member{padding:50px 50px 60px; margin-top:49px; position:relative; }

.member_join.uni .step_join ul li{padding-top:66px;color:#888;}
.member_join.uni .step_join ul li.on{color:#EE6900;}
.member_join.uni .memberStatus {background-color:#F8F8F8;text-align:center;color:#222;font-size:20px;padding:30px;margin-top:28px;margin-bottom:-28px;}

.agreement_box{margin-top:25px;}
.box_member{padding:50px; border-top:1px solid #222; background-color:#f8f8f8;}
.box_member .h2_tit{margin: 0;color:#222; font-weight: normal; font-size:24px;}
.box_member p{font-weight:380; font-size:14px; color:#222; letter-spacing:-1px;   }
.box_member p strong.em {font-weight:380; color:#EE6900;}

.btn{
	display: inline-block;
    width:160px; 
    height: 40px;
    margin: 0 3px;
    padding: 0 15px;
    border: 1px solid #333;
    border-radius: 3px;
    background-color: #fff;
    color: #333;
    text-align: center;
    line-height: 38px;
    vertical-align: middle;
    cursor: pointer;
    transition: border .5s, background .5s, color .5s;}

.btn.btn_em {width:160px; background-color:#333; color:#fff;}
.btn.btn_em:hover, .btn.btn_em:focus {background-color:#000;}
.btn.btn_em.disabled {color:#fff;}
.btn.btn_em.disabled:hover, .btn.btn_em.disabled:focus {border-color:#333; background-color:#333;}

.agreement_sec .check_all { position:absolute;top:45px; right:50px;}

.allianceBrand_box{margin-top:30px; }
.allianceBrand_box .in_sec {padding: 20px 22px 40px 2px;background: #fff;}
.allianceBrand_box .alliance_list{overflow:hidden; }
.allianceBrand_box .alliance_list li{float:left;padding: 20px 0 0 20px;}
.allianceBrand_box .alliance_list li a{display:block; width:136px; height:30px; text-align: center;}
.allianceBrand_box .alliance_list li a img{height:100%;}

.haze {position: absolute; top: -99999px;}

