@charset "UTF-8";

.title{
			font-size:40px; 
			color:#202020;
			text-align:center;
			line-height:56px; 
			letter-spacing:-0.5px; 
		}
		
		.log_content{
			width:1180px;
			height:914px;
			padding-top:50px; 
		}
		
		.login_wrap{
			width:1180px; 
			height:722px; 
			position:relative;
		}
		.login_area{
			width:478px; 
			height:645px; 
			margin:0 auto; 
		}
		.tab_log_menu{
			height:97px; 
			margin:0 auto 20px; 
			padding-top:50px; 
		}
		
		.log_Tab_wrap{
			height:36px;
			line-height:34px; 
			display:inline-block; 
		}
		
		.dashed{
			margin-top:10px;
			border-bottom:solid 3px #101010;  
		}
		
		
		.logTab{
			font-size:24px; 
			color:#606060; 
			font-weight:500; 
		}
		
		
		.log_btn{
			width:478px; 
			height:55px; 
			background-color:#BDD61A;
			font-size:18px; 
			color:#202020;
			font-weight:bold; 
		}
	
		
		.frm > input{
			width:478px;
			height:48px;
			padding:0 10px;
			border: solid 1px #ccc;
		}
	
		.box_induce{
			margin-top:50px; 
			width:478px; 
			height:178px; 
			background-color:#f7f7f7;
			padding:20px 32px; 
		}
	
		.rec_link{
			width:240px; 
			height:48px; 
			border:solid 1px #ccc;
			background-color:#FFFFFF;		
		}
		.rec_link span{
			color:#101010;
		}
		.rec_link span:after{
			content:'';display:inline-block;width:8px;height:8px;
			margin:-3px 0 0 8px;border-bottom:1.5px solid #202020;
			border-right:1.5px solid #202020;-ms-transform:rotate(-45deg);
			-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);vertical-align:middle;
		}
		
		
		.check_wrap{
			display:inline-block;
		}
		
		
		.check_wrap input{
			position:absolute; 
			z-index:0; 
			opacity:0; 
			filter:alpha(opacity=0)
		}
		
		.check_wrap label{
			display:inline-block; 
			line-height:23px; 
			font-size:14px; 
			color:#101010; 
			cursor:pointer; 
		}
		
		.check_wrap input + label:before{
		    content: '';
		    zoom: 1;
		    display: inline-block;
		    width: 25px;
		    height: 26px;
		    margin: -3px 6px 0 0;
		    background: url(../../images/common/ico_set.png) no-repeat;
		    background-position: -1px -40px;
		    background-size: 800px 800px;
		    vertical-align: middle;
		}
	
		.check_wrap input:checked + label:before{
			background-position:-29px -40px; 
		}
	
		.check_wrap input:disabled + label:before{
			background-position:-56px -40px;
		}

		.check_wrap input:checked + label {color:#101010;}
		.check_wrap input:disabled + label{color:#B0B0B0;cursor:default}
		
		.find_wrap{
			display:inline-block; 
			position:relative; 
			height:28px; 
			width:180px; 
			float:right; 
		}
		
		.find_wrap .find_id:after{
			content:''; display:inline-block; position:relative; width:1px; 
			height:20px; margin:0 11px;
			background-color:#ccc; vertical-align:middle;
		}
		
		.find_wrap .find{
			font-size:15px; 
			color:#101010; 	
		}
		
		.easy_ul{
			text-align:center;
			line-height:0; 
		}
		
		.easy_login{
			margin-top:40px; 
		}
		
		.easy_ul li{ 
			display:inline-block;
    		padding:0 14px 0 15px; 
		}
		
		.easy_ul li a{ 
			display:block;
    		width: 48px;
   		 	height: 48px;
    		background: url(../../images/common/login_set.png) 0 0 no-repeat;
    		background-size: 800px 800px;
		}
	
		.easy_ul li.mobile a{
		    background-position:0 0;
		}
		
		.easy_ul li.kakao a{
			background-position:-58px 0;
		}		

		.easy_ul li.facebook a{
		  	background-position:-174px 0;
		}
		
		.easy_ul li.naver a{
			background-position:-116px 0;
		}		
		
		
		
		#log_non_mem .box_induce{
			height:148px;  
			margin-top:30px; 
		}
		
		#log_non_mem .box_induce > p{
			font-size:13px; 
		}
		
		#log_non_mem .box_induce > p:before{
			content:''; display:inline-block; position:relative; width:3px; 
			height:3px; margin-right:3px;
			background-color:#ccc; vertical-align:middle;
		}
		
