@charset "UTF-8";

.content {min-height:900px; padding:52px 0 140px; }
.content:after { content: ''; display: block; clear: both; }

.rigth_content { width: 940px; float: right;}

.rigth_content h3{display:block;padding-bottom:36px;border-bottom:4px solid #202020;font-size:36px;line-height:50px;font-weight:700;color:#101010;}
.rigth_content .order_list { margin-top: 56px }
.rigth_content .payment_date_wrap { position: relative; padding-bottom: 16px; margin-bottom: -25px; border-bottom: 2px solid #202020; }
.rigth_content .payment_date_wrap h4{font-size:22px;line-height:32px;color:#101010;font-weight:700;}
.rigth_content .payment_date_wrap a{position:absolute;top:7px;right:2px; font-weight:400; font-size:14px; line-height:21px; color:#606060;}
.rigth_content .payment_date_wrap a:after{content:'';display:inline-block;width:8px;height:8px;margin:-3px 0 0 4px;border-bottom:1.5px solid #606060;border-right:1.5px solid #606060;-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);vertical-align:middle}

.rigth_content .delivery_info { margin-top: 24px; padding: 14px 31px 13px; background-color: #F7F7F7; border: 1px solid #ccc; }
.rigth_content .delivery_info span{font-size:18px;line-height:27px;color:#101010;font-weight:500;}
.rigth_content .cart_info{margin-top:-1px;padding:0 31px 10px;border:1px solid #ccc;}
.rigth_content .cart_info .top_wrap { padding: 25px 0 8px; }
.rigth_content .top_wrap .cart_state{ font-weight:500;font-size:18px;line-height:27px;}
.rigth_content .top_wrap .cart_state.payment{ color: #008A00; }
.rigth_content .top_wrap .cart_state.deliver{ color: #0379A6; }
.rigth_content .top_wrap .cart_state.deliveryComplete{ color:#606060; }
.rigth_content .top_wrap .cart_delivery_date{ margin-left:8px;color:#101010;font-weight:500;font-size:18px;line-height:27px;}

.rigth_content .product_list li{ position: relative; padding:16px 0; border-top:1px solid #e0e0e0; }
.rigth_content .product_list li:first-child { border-top:0 none; }
.rigth_content .product_list .img_wrap {position: absolute; display: inline-block; width: 80px; height: 80px; overflow: hidden; }
.rigth_content .product_list .img_wrap img { position: absolute; width: 80px; top: 50%; transform: translateY(-50%);}
.rigth_content .product_list .info_wrap { display: table-cell; vertical-align: middle; height: 80px; padding-left: 104px; }
.rigth_content .product_list .info_wrap .tit{display: inline-block; margin-bottom:8px; font-size:16px; font-weight: 500; line-height:24px;color:#101010;}
.rigth_content .product_list .info_wrap .price{font-size: 18px; font-weight: 700; line-height: 27px; color: #101010;}
.rigth_content .product_list .info_wrap .quantity{margin-left: 4px; font-size: 13px; line-height: 21px; color: #606060;}
.rigth_content .product_list .btn_wrap { position: absolute; right: 0; top: 40%;}
.rigth_content .product_list .btn_wrap .wirteReview{ width: 88px; height: 32px; padding: 4px 13px 5px; border: 1px solid #ccc; background-color: #fff; font-size: 13px; font-weight: 500; line-height: 21px; color: #101010; }