@charset "UTF-8";

#my_wrapper{	
	width:1180px;
	height:1314px;
	padding-top:60px; 
}

/* 왼쪽 메뉴바 */
#left_menu{
	width:190px;
	height:827px; 
	position:absolute; ;  
}

#left_menu div ul li{
	padding-top:8px;
}

#left_menu div ul li a{
	font-size:14px;  
	font-weight:500;
	color:#606060;
}

#left_menu div ul li a:hover{
	color:#101010;
	text-decoration:underline; 
}

#left_menu div ul .tab_title{
	font-size:20px; 
	color:#101010;
	font-weight:700;
}

.pd{
	padding-top:30px; 
}

#my_order > h2{
	display:block; 
	color:#101010; 
	font-size:40px;
	line-height:30px; 
	padding:5px 0 35px 0; 
}


/*오른쪽 컨텐츠 영역 */
#content_wrapper{
	width:940px; 
	position:relative; 
	float:right; 	
}


#main .rpd{
	padding-top:56px;
}

#myInfo{
	width:940px; 
	height:194px;
	

}

#myInfo .info_top{
	width:940px; 
	height:64px; 
	background:linear-gradient(-90deg, #7AB600, #7AB600 45%, #E1EE06);

}


#myInfo .info_top .log_name{
	padding:0 24px; 
	font-size:22px;
	color:#101010;
	font-weight:700;
	line-height:64px;
	float:left; 
}

#myInfo .info_top .log_address{
	float:right;  
}

#myInfo .info_top .log_address > a{
	line-height:64px; 
	text-align:right; 
	padding-right:20px;
}

#myInfo .info_top .log_address > a > span{
	margin-left:20px; 
	color:#101010; 
	font-size:13px; 
	line-height:66px; 
}


#myInfo .info_top .log_address > a > span:before{
	content: '';
    display: inline-block;
    top: 50%;
    left: 0;
    margin-top: -8px;
    margin-right:5px; 
    width: 13px;
    height: 16px;
   	background: url(../../images/my/ico_set02.png) no-repeat 0 -33px;
    background-size: 800px 800px;
}


#myInfo .info_top .log_address > a > span:after{
	content:'';display:inline-block;width:8px;height:8px;
	margin:-3px 0 0 3px;border-bottom:1.5px solid #202020;
	border-right:1.5px solid #202020;-ms-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);vertical-align:middle;
}





#pointWrap .myPoint{
	width:563px;
	height:128px; 
}

#pointWrap{
	width:940px; 
	height:130px; 
	display:inline-block; 
	border-right:solid 1px #ccc;
	border-left:solid 1px #ccc;
	border-bottom:solid 1px #ccc; 
	padding-top:20px; 
}

#pointWrap span{
	display:block; 
	margin:0 auto; 
	text-align:center; 
}

#pointWrap a .pt{ 
	font-size:16px; 
	font-weight:500;
}

#pointWrap a .i_have{
	font-size:32px; 
	font-weight:700;
	margin-top:30px; 
}

#pointWrap .myPoint{
	display:inline-block; 
	float:left; 
}

#pointWrap .myCoupon{
	display:inline-block; 
	float:right; 
}

#pointWrap .myCoupon > a{
	display:block; 
	width:373px; 
	height:88px; 
	color:#101010;   
}

#pointWrap .myPoint > a{
	display:block; 
	width:563px;
	height:88px; 
	color:#101010;   
}

#alarm_wrap{
	position:relative; 
	height:23px; 
	margin-top:12px; 
}

#alarm_wrap div ul{
	float:right; 
}

#alarm_wrap div ul li{
	display:inline-block;
	font-size:13px; 
	vertical-align:middle; 
	line-height:17px;  
}

#alarm_wrap div ul li:first-child:after{
	content: '';
    display: inline-block;
    width: 1px;
    height: 16px;
    margin: 0 16px;
    background-color: #E0E0E0;
    vertical-align: middle;
}

#alarm_wrap div ul li a{
	text-decoration:underline;
	margin-right:5px; 
}

#alarm_wrap div ul li .state{
display:inline-block; height:18px; 
padding:0 9px; color:#fff; font-size:10px; 
line-height:17px; font-weight:500; border-radius:9px; 
vertical-align:top; margin:0 7px; 
}

#alarm_wrap .alarm_state.on ul li .state{
	background-color:#008A00;
}

#alarm_wrap .alarm_state.off ul li .state{
	background-color:#606060;
}

#myOrder{
	width:940px; 
	height:253px;
	padding-top:56px; 	
}

#top_os{
	height:54px; 
	padding-bottom:16px;
}

#lt_os{
	width:400px;
	float:left; 
}

#lt_os span:nth-child(1){
	display:inline-block; 
	font-size:22px; 
	color:#101010; 
	line-height:36px; 
	font-weight:700;
}

#lt_os span:nth-child(2){
	display:inline-block; 
	margin-left:7px; 
	font-size:14px; 
	color:#606060;
	line-height:36px; 
	font-weight:500;
}

#rt_os{
	width:300px;
	float:right;  
	text-align:right;
	margin-right:2px;  
}

#rt_os a{
	display:inline-block; 
	font-size:14px; 
	color:#606060;
	line-height:40px; 
	font-weight:400;
}

#rt_os a:after{
	content:'';display:inline-block;width:8px;height:8px;
	margin:-3px 0 0 8px;border-bottom:1.5px solid #202020;
	border-right:1.5px solid #202020;-ms-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);vertical-align:middle;
}

#order_state {padding-top:24px; border-top:solid 2px #101010; overflow:hidden;  }
#order_state ul {width:100%; font-size:0; margin-left:51px;}
#order_state .item {display:inline-block; position:relative; width:76px; margin-left:115px; text-align:center;}
#order_state .item:before {content:''; display:block; position:absolute; top:30px; left:-50px; width:16px; height:16px; margin-left:-20px; border-bottom:1.5px solid #202020; border-right:1.5px solid #202020; -moz-transform:rotate(-45deg); -webkit-transform:rotate(-45deg); transform:rotate(-45deg); vertical-align:middle;}
#order_state .item:first-child {margin-left:0;}
#order_state .item:first-child:before {display:none;}
#order_state .item a {display:block;}
#order_state .item .circle {position:relative; display:inline-block; width:76px; height:76px; background-color:#f7f7f7; border-radius:50%; text-align:center; vertical-align:top;}
#order_state .item .circle i.ico {display:block; width:80px; height:80px; background:url(../../images/my/ico_set02.png) no-repeat; background-size:800px 800px;}
#order_state .item .circle i.ico.ico01 {background-position:0 -80px;}
#order_state .item .circle i.ico.ico02 {background-position:-82px -77px;}
#order_state .item .circle i.ico.ico03 {background-position:-162px -80px;}
#order_state .item .circle i.ico.ico04 {background-position:-240px -78px;}
#order_state .item .circle i.ico.ico05 {background-position:-320px -80px;}
#order_state .item .circle i.ico.ico06 {background-position:-401px -74px;}
#order_state .item .circle .num {display:none; color:#101010; font-size:32px; line-height:76px; font-weight:bold;}
#order_state .item .tit {display:block; padding-top:12px; color:#808080; font-size:15px; line-height:23px; font-weight:500;}
#order_state .item.ing .circle {background-color:#BDD61A;}
#order_state .item.ing .circle i.ico {display:none;}
#order_state .item.ing .circle .num {display:block;}
#order_state .item.ing .tit {color:#101010;}


#info_box .stamp_event_wrap {position:relative; width:100%; height:160px;}
#info_box .stamp_event_wrap.type_renew2{position:relative; width:100%;height:170px;box-sizing:border-box;background:#bdd61a;}
#info_box .stamp_event_wrap.type_renew2 .left_cont:after{display:inline-block;content:'';margin-left:31px;width:278px;height:160px;vertical-align:top;background:url('../../images/my/img_event_stamp.jpg') 100% 0 no-repeat;}
#info_box .stamp_event_wrap.type_renew2 .left_cont.re_pose:after{margin-left:9px;}
#info_box .stamp_event_wrap.type_renew2 .left_cont .inner{display:inline-block;max-width:628px;padding:24px 0 24px 50px;vertical-align:top;}
#info_box .stamp_event_wrap.type_renew2 .h5_tit{padding-bottom:30px;color:#101010;font-size:38px;font-weight:700;letter-spacing:-1px;}
#info_box .stamp_event_wrap.type_renew2 .left_cont .inner .ico{display:inline-block;padding:0 13px;margin-bottom:18px;height:28px;line-height:27px;font-size:15px;border-radius:30px;text-align:center;border:1px solid #101010;box-sizing:border-box;color:#101010;font-weight:700;font-size:15px;}
#info_box .stamp_event_wrap.type_renew2 .txt{font-size:17px;color:#101010;line-height:1;font-weight: 500;}
#info_box .stamp_event_wrap.type_renew2 strong{color:#e01616;}
#info_box .stamp_event_wrap.type_renew2 .btn_link{position:absolute;top:56px;right:51px;display:block;padding:0 29px;height:62px;line-height:62px;font-size:21px;font-weight:500;box-sizing:border-box;background:#111010;border-radius:30px;color: #bdd61a;}
#info_box .stamp_event_wrap.type_renew2 .btn_link:after{content:'';display:inline-block;width:12px;height:12px;margin:-3px 0 0 8px;border-bottom:2px solid #bdd61a;border-right:2px solid #bdd61a;-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);vertical-align:middle}
#info_box .stamp_event_wrap.type_renew2 .date{position: absolute;top: 14px;right: 15px;font-size: 15px;color: #101010;letter-spacing: 0;}

.rpd h4.h4_tit {padding-bottom:16px; color:#101010; font-size:22px; line-height:36px; font-weight:700; border-bottom:2px solid #202020;}
.rpd h4.h4_tit .btn_link {float:right; line-height:54px;font-size:14px; font-weight:400;color:#606060;}
.rpd h4.h4_tit .btn_link:after{
	content: '';display: inline-block;width: 8px;height: 8px;margin: -3px 2px 0 5px;
	border-bottom: 1.5px solid #606060;border-right: 1.5px solid #606060;
	-ms-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);vertical-align: middle;
}
.rpd .no_data_txt {padding-top:56px; text-align:center;}
.rpd .no_data_txt strong {color:#101010; font-weight:700; font-size:18px; line-height:27px}
.rpd.no_data_box + .rpd {padding-top:80px;}






