<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.d.mp.event.winner.EventWinnerDAO">
  
  	<!-- 당첨자 발표 list 불러오기 -->
  	<select id="getWinnerList" resultType="EventWinnerDTO">
  		SELECT * 
  		FROM 
  			event_winner
  		ORDER BY
  			event_winner_id DESC
  	</select>
  	
 
  
  	<!-- 이벤트 글 작성하기 -->
  	<insert id="setWinnerList" parameterType="EventWinnerDTO">
	  	<selectKey>
	  		SELECT event_winner_seq.nextval FROM dual
	  	</selectKey>
	  	INSERT INTO 
	  		event_winner
	  	VALUES
	  		(event_winner_seq.nextval, #{event_winner_subject}, #{event_winner_content}, sysdate)	  	
  	</insert>
  	
  
  <!-- 이벤트 세부사항 보기 -->
  <select id="getWinnerView" parameterType="EventWinnerDTO" resultType="EventWinnerDTO">
  		SELECT * 
  		FROM
  			event_winner
  		WHERE 
  			event_winner_id = #{event_winner_id}
  </select>
  
  
  <!-- 선택한 글 삭제 -->
  <delete id="setEventDelete" parameterType="EventDTO">
  	DELETE FROM event_winner WHERE event_winner_id = #{event_winner_id}
  </delete>
  
  </mapper>