@charset "UTF-8";

.faq_conts{
	margin-top: 58px;
}

/* faq search */
.f_search{
	margin-top: 2px;
}

/* faq 검색 txt */
.faq_conts .tit{
	font-size: 22px;
	line-height: 32px;
	font-weight: 700;
	color: #101010;
}

/* faq 검색창 */
.f_search .box_search{
	margin-top: 16px;
	padding: 32px;
	background-color: #F7F7F7;
}

.sch_wrap{
	position: relative;
	width: 644px;
	margin: 0 auto;
}

.sch_wrap .input_wrap{
	height: 68px;
}

div.input_wrap{
	width: 100%;
}

.input_wrap{
	position: relative;
	display: inline-block;
}

.sch_wrap input.txt {
	display: inline-block;
	height:68px;
	width: 100%;
	padding:0 106px 0 20px;
	border:2px solid #202020;
	color:#101010;
	font-weight:700;
	font-size:20px;
	opacity:1;
	
	}
	
.sch_wrap input.txt::-webkit-input-placeholder {
	color:#606060;
	font-size:20px;
	font-weight:700;}

.sch_wrap .btn_srch {
	position:absolute;
	right:18px;
	top:50%;
	width:32px;
	height:32px;
	margin-top:-16px;
	background:url('/mp/resources/images/pd/ico_set.png') -600px -150px no-repeat;
	background-size:800px 800px;
	}


/* 문의유형 */
.f_type{
	margin-top: 56px;
}

/* 유형 모음 칸 */



.f_type .cate_wrap {
	display:table;
	width:100%;
	table-layout:fixed;
	padding:16px 0 0;
	font-size:0;
	}
	
.f_type .cate_wrap > ul li {
	width:20%;
	float:left;
	display:table-cell;
	vertical-align:middle;
	}
.f_type .cate_wrap .tab_item {
	display:block;
	position:relative;
	height:56px;
	margin:0 -1px -1px 0;
	}
	
/* 유형 선택시 박스 변화 */

.f_type .cate_wrap .tab_item.on button{	
	position:absolute;
 	border:3px solid #303030;
	color:#101010;
	font-weight:700;
	line-height:50px;
	box-shadow:0 2px 2px 0 rgba(0, 0, 0, .12);
	z-index:1; 
	}
	


.f_type .cate_wrap .tab_item button {
	display:block;
	width:100%;
	height:56px;
	padding-left:0;
	background:#fff;
	border:1px solid #B0B0B0;
	color:#606060;
	font-size:15px;
	line-height:54px;
	text-align:center;
	cursor:pointer;
	}


/* faq table list */
#tabView{
	display: block;
}

.faq_view{
	margin-top: 56px;
}
.faqListArea{
	border-top: 2px solid #202020;
	border-bottom: none;

}



/* 문의작성 소개 */
.bottom_info{
	position: relative;
	margin-top: 56px;
	padding: 32px;
	background-color: #f7f7f7;
}

.faq_conts .bottom_info .txt {
	position:relative;
	padding-left:52px;
	color:#111;
	font-size:16px;
	line-height:24px;
}
.faq_conts .bottom_info .txt:before {
	content:'';
	display:block;
	position:absolute;
	top:-8px;
	left:0;
	width:40px;
	height:40px;
	background:url('/mp/resources/images/pd/ico_set1.png') no-repeat -612px -165px;
	background-size:800px 800px;
}

.faq_conts .bottom_info .rec_link {
	position:absolute;
	top:20px;
	right:32px;
	padding:11px 20px;
	background-color:#fff;
}

/* 문의작성 button */
.rec_link{
	display:inline-block;
	min-width:142px;
	padding:11px 20px 11px;
	border:1px solid #ccc;
	text-align:center;
	}
.rec_link span {
	font-size:14px;
	line-height:22px;
	color:#101010;
	font-weight:500
}
.rec_link span:after{
	content:'';
	display:inline-block;
	width:8px;
	height:8px;
	margin:-3px 0 0 8px;
	border-bottom:1.5px solid #202020;
	border-right:1.5px solid #202020;
	-ms-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
	vertical-align:middle
}

/* faq list */

.list_acco{
	background-color:#fff; 
}

.list_acco > ul {
    border-top: 2px solid #202020;
    border-bottom: none;
}

.list_acco > ul > li {
    border-top: none;
    border-bottom: 1px solid #e0e0e0;
}

.list_acco li .head {
    position: relative;
}

.list_acco li .head a {
    display: block;
    padding-right: 44px;
}


/* 펼치기 전 화살표 표시 */
.list_acco li .head a:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 16px;
    width: 12px;
    height: 12px;
    margin-top: -8px;
    border: 1.5px solid #303030;
    border-top: none;
    border-left: none;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(
	45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(
	45deg);;
}

.list_acco li.on .head a:before {
	margin-top:-1px; 
	border:1.5px solid #303030; 
	border-top:none; 
	border-left:none; 
	-ms-transform:rotate(-136deg); 
	-webkit-transform:rotate(-136deg); 
	-moz-transform:rotate(-136deg); 
	transform:rotate(-136deg);
}

.faq_conts .faq_view li .head .tit {
    position: relative;
    padding: 20px 10px 20px 78px;
    font-size: 16px;
    line-height: 24px;
    color: #101010;
    font-weight: 500;
}


.faq_conts .faq_view li .head .tit strong {
    position: absolute;
    top: 27px;
    left: 32px;
    font-size: 22px;
    line-height: 32px;
    color: #202020;
    font-weight: 700;
}

 .head .tit .cate {
 	display: block;
    padding: 4px 0;
    font-size: 14px;
    line-height: 22px;
    color: #606060;
    font-weight: 400;
}

/* 아코디언 후 내용 */
.faq_conts .faq_view li .desc {
    position: relative;
    padding: 24px 0 24px 78px;
    background-color: #F7F7F7;
    border-top: none;
}

.list_acco li .desc {
    color: #101010;
    font-size: 14px;
    line-height: 22px;
}


.faq_conts .faq_view li .desc > strong {
    position: absolute;
    top: 22px;
    left: 32px;
    font-size: 22px;
    line-height: 32px;
    color: #008A00;
    font-weight: 700;
}


.white{
	display: block;
    border: 1px solid #ccc;
   	margin-bottom: 30px;
}


.btn_add.white {
    color: #101010;
    border: 1px solid #202020;
    background-color: #FFFFFF;
}

.btn_add {
    height: 32px;
    padding: 4px 13px 5px;
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
}




.btn.de {
 
    float: right;
    width: 72px;
    margin-right: 10px;
    color: #101010;
    border: 1px solid #202020;
   text-align: center;
   
}

.btn.de.wh, .btn.de.wh:focus {
    border: 1px solid #ccc;
}




.hide {
	display:inline-block;
	position:absolute;
	z-index:-10;
	width:0 !important;
	height:0 !important;
	overflow:hidden !important;
	font-size:medium;
	line-height:normal;
	word-break:break-all
	}
