@charset "UTF-8";

#my_wrapper{	
    min-height: 900px;
    padding: 52px 0 140px;
}

#my_wrapper:after {
    content: '';
    display: block;
    clear: both;
}

/*오른쪽 컨텐츠 영역 */
#content_wrapper{
	width:940px; 
	min-height:900px;
	position:relative; 
	float:right; 	
}


.order_view {
    width: 100%;
}

.order_view h3 {
    display: block;
    padding-bottom: 36px;
    border-bottom: 4px solid #202020;
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
    color: #101010;
}

.my_activity .top_sec {
    position: relative;
    z-index: 2;
}

.order_view .top_sec {
    position: relative;
    padding-bottom: 8px;
}


.my_activity .top_sec .tab_menu {
    padding-top: 40px;
}

.order_view .top_sec .tab_menu li:first-child {
    padding-left: 0;
}

.order_view .top_sec .tab_menu li {
    display: inline-block;
    padding-left: 24px;
    line-height: 0;
}

.order_view .top_sec .tab_menu li.on > a {
    display: inline-block;
    padding-bottom: 5px;
    color: #101010;
    font-weight: 700;
    border-bottom: 3px solid #202020;
}

.order_view .top_sec .tab_menu li > a {
    font-size: 24px;
    line-height: 34px;
    color: #606060;
    font-weight: 500;
}


.my_activity .cate_wrap {
    padding: 64px 0 56px;
}

.my_activity .cate_wrap h4 {
    color: #101010;
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
}

.bul_req {
    display: inline-block;
    position: relative;
    min-width: 6px;
    min-height: 6px;
    padding-left: 10px;
    color: #a3a3a3;
    font-size: 11px;
    vertical-align: top;
}

.bul_req:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: 7px;
    height: 7px;
    background: url(/mp/resources/images/common/ico_set.png) no-repeat;
    background-position: 0 0;
    background-size: 800px 800px;
}


.my_activity .cate_wrap .rad_tab_wrap {
    padding-top: 16px;
}

.rad_tab_wrap {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.my_activity .cate_wrap .rad_tab_wrap li {
    float: left;
    width: 20%;
}

.rad_tab_wrap > li {
    display: table-cell;
    vertical-align: middle;
}

.my_activity .cate_wrap .rad_tab_wrap .rad_wrap {
    margin: -1px 0 0 -1px;
}

.rad_tab_wrap .rad_wrap {
    display: block;
    position: relative;
    height: 56px;
 /*    margin: 0 -3px -3px 0; */
}

.rad_wrap input {
    position: absolute;
    z-index: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.rad_tab_wrap .rad_wrap input:checked + label, .rad_tab_wrap .rad_wrap input:focus + label {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    border: 3px solid #303030;
    color: #101010;
    line-height: 50px;
    font-weight: 700;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 12%);
    z-index: 1;
    text-indent: 0;
}

.rad_tab_wrap .rad_wrap input + label {
    display: block;
    width: 100%;
    height: 56px;
    margin: 0;
    padding-left: 0;
    background: #fff;
    border: 1px solid #b0b0b0;
    color: #808080;
    font-size: 15px;
    line-height: 54px;
    text-align: center;
    cursor: pointer;
    text-indent: 0;
}

.my_activity .cate_wrap .cate_sum_cont {
    display: none;
    margin-top: 16px;
}

.my_activity .cate_wrap .cate_sum_cont .noti_box {
    padding: 20px 32px;
    background-color: #f9f9f9;
}

.my_activity .cate_wrap .cate_sum_cont .tit {
    display: block;
    color: #101010;
    font-size: 15px;
    line-height: 23px;
    font-weight: 700;
}

.my_activity .cate_wrap .cate_sum_cont .bul_list {
    margin-top: 10px;
}

.bul_list li:first-child {
    margin-top: 0;
}

.bul_list .bul_dot .bullet, .bul_dot .bullet {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 8px 4px 0 0;
    background-color: #b0b0b0;
    vertical-align: top;
    font-style: normal;
    text-indent: -10px;
}

.my_activity .cate_wrap .cate_sum_cont .noti_box .txt_link {
    display: inline-block;
    margin-left: 8px;
    color: #101010;
    font-size: 12px;
    line-height: 20px;
    text-decoration: underline;
    text-indent: 0;
}


.my_activity .top_sec.input_top_sec {
    padding-bottom: 16px;
}

.my_activity .top_sec h4 {
    font-size: 22px;
    line-height: 32px;
    color: #101010;
    font-weight: 700;
}

.my_activity .input_order.input_taste, .my_activity .input_order.pro_inquiry {
    border-top: 2px solid #202020;
}

.input_order {
    padding-bottom: 26px;
    border-bottom: 1px solid #e0e0e0;
}

.input_order dl {
    margin-top: 24px;
}

.input_order dl.one_dep.row1 dt, #my_wrapper .input_order dl.two_dep.row1 dt {
    margin-top: 12px;
}

.my_activity .input_order.pro_inquiry dl.two_dep dt {
    width: 112px;
    float: left;
    color: #101010;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}

.input_order dl.one_dep dt {
    width: 260px;
    float: left;
    color: #101010;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
}

.input_order dt {
    position: relative;
    color: #101010;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.input_order dl.one_dep dd {
    width: 680px;
    float: right;
    padding: 0;
}

.my_activity .input_order.pro_inquiry .order_list {
    position: relative;
}

/* 선택된 상품이 없을 때 */ 
.my_activity .input_order.pro_inquiry .order_list .pro_box {
    position: relative;
    width: 590px;
    height: 48px;
    padding: 12px 90px 13px 16px;
    border: 1px solid #ccc;
}

.my_activity .input_order.pro_inquiry .order_list .pro_box .txt {
    color: #606060;
    font-size: 15px;
    line-height: 23px;
}

/* 선택된 상품 있을때 */
.my_activity .input_order.pro_inquiry .order_list .pro_box.pro_info .txt {
    color: #101010;
}

/* 조회 tab */
.my_activity .input_order.pro_inquiry .order_list .btn.sub {
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
}

.btn.green {
    color: #101010;
    border: 1px solid #BDD61A;
    background-color: #BDD61A;
}

.btn.sub {
    height: 48px;
    font-weight: 500;
    font-size: 14px;
    line-height: 46px;
}

.btn {
    display: inline-block;
    width: 100%;
    height: 56px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 54px;
}

.input_order dl.one_dep:after {
    content: '';
    display: block;
    clear: both;
}

/* 문의 내용 */

.input_order dl {
    margin-top: 24px;
}

.textarea {
    position: relative;
    padding: 0 0 0 0;
    border: 1px solid #ccc;
}

.textarea textarea {
    height: 210px;
    padding: 16px 16px 0;
    color: #101010;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
}

textarea {
    width: 100%;
    border: 0;
    overflow-y: auto;
    resize: none;
}

.textarea .result_txt {
    padding: 16px 0 16px 16px;
    color: #606060;
    font-size: 14px;
    line-height: 22px;
}

.textarea .result_txt>span {
    color: #101010;
    font-weight: 700;
}

.btm_noti {
    margin-top: 16px;
    padding: 20px 32px;
    background-color: #F7F7F7;
}

.my_activity .input_order.pro_inquiry .btm_noti .bul_list {
    padding: 0;
}


.btm_noti .bul_list li:first-child {
    margin-top: 0;
}

.bul_list li {
    text-indent: -10px;
    margin-left: 10px;
    margin-top: 6px;
    font-size: 13px;
    line-height: 20px;
}

.btm_noti .bul_list li {
    margin-top: 4px;
}


/* 첨부파일 */

.input_order .scroll {
    overflow-x: visible;
}

.input_order .scroll {
    width: 100%;
    overflow-x: visible;
}

.input_order .add_file_wrap {
    margin-left: -10px;
}

.input_order .add_file_wrap li {
   	float: left;
    width: 128px;
    margin: 0 0 0 10px;
}

.input_order .add_file_wrap .add_file_frame {
    position: relative;
}

.my_wrap .input_order .add_file_wrap .dim_div {
    height: 128px;
}

.input_order .add_file_wrap .img_wrap {
    position: relative;
}

.my_wrap .input_order .add_file_wrap .img_wrap img {
    width: 128px;    
    height: 128px;
}

.input_order .add_file_wrap .img_wrap .btn_delete {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: rgba(32, 32, 32, 0.6) url(/cjkit/web/images/my/btn_rv_delete.svg) no-repeat 50%;
    z-index: 2;
}

.input_order .add_file_wrap ul:after {
    content: '';
    display: block;
    clear: both;
}
.input_order .add_file_wrap .dim_div {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 172px;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 1;
    align-items: center;
    justify-content: center;
}

.input_order .add_file_wrap .dim_div .num {
    font-size: 28px;
    color: #fff;
    font-weight: bold;
}

.input_order .add_file_wrap .trans_add_file {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    opacity: 0;
}

.input_order .add_file_wrap .add_file {
    width: 128px;
    height: 128px;
}

.input_order .add_file_wrap .add_file {
    display: block;
    position: relative;
    width: 172px;
    height: 172px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
    color: transparent;
    text-indent: -100px;
}

.input_order .add_file_wrap .add_file::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 32px;
    height: 32px;
    margin: -16px 0 0 -16px;
    background: url(/mp/resources/images/common/ico_set.png) -460px -150px no-repeat;
    background-size: 800px 800px;
}

.input_order .add_file_wrap ul:after {
    content: '';
    display: block;
    clear: both;
}

.input_order .file_info {
    position: relative;
    margin-top: 11px;
}

.input_order .file_info .file_size {
    top: 0;
}

.input_order .file_info .file_size {
    position: absolute;
    top: -1px;
    right: 0;
    color: #303030;
    font-size: 14px;
    line-height: 22px;
}

.input_order .file_info .file_size .now {
    font-weight: 700;
}

/* 답변알림  */

.my_activity .input_order.pro_inquiry dl.two_dep:first-child {
    margin-top: 0;
}

.chk_wrap {
    display: inline-block;
}

.chk_wrap input {
    position: absolute;
    z-index: 0;
    opacity: 0;
}

.my_activity .input_order.pro_inquiry dl.two_dep dt label {
    line-height: 48px;
}

.chk_wrap input:checked + label {
    color: #101010;
}

.input_order dt label {
    vertical-align: top;
}

.chk_wrap label {
    display: inline-block;
    color: #101010;
    font-size: 14px;
    cursor: pointer;
}

.chk_wrap input:checked + label:before {
    background-position: -29px -40px;
}

.chk_wrap input + label:before {
    content: '';
    zoom: 1;
    display: inline-block;
    width: 25px;
    height: 26px;
    margin: -3px 6px 0 0;
    background: url(/mp/resources/images/common/ico_set.png) no-repeat;
    background-position: -1px -40px;
    background-size: 800px 800px;
    vertical-align: middle;
}

.my_activity .input_order.pro_inquiry dl.two_dep dd {
    width: 568px;
    float: right;
}


.my_activity .input_order.pro_inquiry dl.two_dep dd .input_email .ema_id:first-child {
    width: 218px;
}

.input_wrap.dis input.txt {
    background-color: #F7F7F7;
    border: 1px solid #ccc;
    color: #606060;
}

input.txt {
    display: inline-block;
    width: 100%;
    height: 48px;
    padding: 0 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #101010;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.my_activity .input_order.pro_inquiry dl.two_dep dd .input_email .at {
    margin: 0 4px;
}

.my_activity .input_order.pro_inquiry dl.two_dep dd .input_email .input_wrap {
    width: 180px;
}

.input_wrap {
    position: relative;
    display: inline-block;
}

.input_wrap.dis input[readonly].txt {
    color: #606060;
}


.my_activity .input_order.pro_inquiry dl.two_dep dd .input_email .item_wrap {
    width: 122px;
    margin-left: 7px;
    margin-bottom: 4px;
}

.item_wrap {
	display:inline-block;
	position:relative;
	width:100%;
	height:48px;
	border:1px solid #ccc;
	color:#101010;
	font-size:15px;
	line-height:23px;
	font-weight:400;
	vertical-align:middle;
}
.item_wrap select {
    position: relative;
    z-index: 1;
    font-weight: 400;
}

.item_wrap select:disabled {
    color: #B0B0B0;
}

.item_wrap select {
    width: 100%;
    height: 100%;
    padding: 0 32px 0 16px;
    background: transparent;
    border: 0;
    color: #101010;
    font-size: inherit;
    font-family: inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.item_wrap.dis .ico_arr {
    border-color: #CCC;
}

.item_wrap .ico_arr {
    position: absolute;
    z-index: 0;
    top: 50%;
    right: 18px;
    width: 12px;
    height: 12px;
    margin-top: -9px;
    border-right: 1.5px solid #303030;
    border-bottom: 1.5px solid #303030;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.my_activity .input_order.pro_inquiry dl.two_dep:after {
    content: '';
    display: block;
    clear: both;
}


.my_activity .input_order.pro_inquiry dl.two_dep:first-child {
    margin-top: 0;
}

.input_mobile_num {
    font-size: 0;
}

.input_mobile_num .input_wrap,
.input_mobile_num .item_wrap {width:31.5%;margin-left:9px;}

.input_mobile_num .item_wrap{margin-left:0;}


.my_activity .input_order.pro_inquiry dl.two_dep dd {
    width: 568px;
    float: right;
}
.my_activity .input_order.pro_inquiry dl.two_dep dd .input_mobile_num .item_wrap {
    width: 180px;
    height: 48;
    margin-left: 0;
    margin-bottom: 11;
}



.input_wrap .ico {
    display: none;
    position: absolute;
    top: 50%;
    right: 15px;
    background: url(/mp/resources/images/common/ico_set.png) no-repeat;
    background-size: 800px 800px;
}


.btn_wrap {
    margin-top: 56px;
    text-align: center;
}

#my_wrapper .btn_wrap .btn:first-child {
    margin-left: 0;
}

#my_wrapper .btn_wrap .btn {
    margin-left: 8px;
    width: 240px;
}

.btn.white {
    color: #101010;
    border: 1px solid #202020;
    background-color: #FFFFFF;
}
.btn {
    display: inline-block;
    width: 100%;
    height: 56px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 54px;
}

btn.green {
    color: #101010;
    border: 1px solid #BDD61A;
    background-color: #BDD61A;
}


/* modal */

.lay_wrap {
/*     display: none;
    position: absolute;
    top: 20px;
    left: 50%; */
    padding: 0 0 24px;
    background-color: #fff;
    z-index: 9000;
}


.lay_wrap > header.line {
    border-bottom: 2px solid #202020;
}
.lay_wrap > header {
    position: static;
    width: auto;
    height: auto;
    padding: 20px 0 20px;
    margin: 0 24px;
}

.lay_wrap > header.line {
    border-bottom: 2px solid #202020;
}
    
.lay_wrap > header {
    position: static;
    width: auto;
    height: auto;
    padding: 20px 0 20px;    
 	margin: 0 24px;
}

.lay_wrap > header h1 {
    font-size: 20px;
    line-height: 30px;
    color: #101010;
    font-weight: 700;
}

.lay_wrap .lay_conts.lay_scroll {
    position: relative;
    max-height: 626px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: -24px;
    padding-left: 24px;
}

.lay_wrap .lay_conts.lay_scroll > div {
    width: 432px;
    padding-bottom: 24px;
}

.lay_conts .order_delivery .order_tit {
    padding-top: 24px;
    color: #101010;
    font-size: 17px;
    line-height: 23px;
    font-weight: 700;
}

.lay_conts .order_delivery .order_prd {
    margin-top: 16px;
    border: 1px solid #ccc;
}

.lay_conts .order_delivery .order_prd .top {
    padding: 16px 20px;
    background-color: #f2f2f2;
}

.rad_wrap {
    display: inline-block;
}


.rad_wrap input {
    position: absolute;
    z-index: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}


.lay_conts .order_delivery .order_prd .top .tit .order_num {
    display: inline-block;
    font-size: 17px;
    line-height: 23px;
    color: #101010;
    font-weight: 500;
    vertical-align: middle;
}

.rad_wrap input + label {
    display: inline-block;
    margin-left: 32px;
    color: #101010;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    cursor: pointer;
    text-indent: -32px;
}

.lay_wrap input + label:before {
    content: '';
    zoom: 1;
    display: inline-block;
    width: 25px;
    height: 26px;
    margin: -3px 6px 0 0;
    background: url(/mp/resources/images/common/ico_set.png) no-repeat;
    background-position: -164px -40px;
    background-size: 800px 800px;
    vertical-align: middle;
}

.lay_conts .order_delivery .order_prd .prd_list_n .rad_wrap input + label:before {
    margin: 29px 6px 0 0;
}

.lay_conts .order_delivery .order_prd .prd_list_n {
    padding: 0 20px;
}

.lay_conts .order_delivery .order_prd .prd_list_n li:last-child {
    margin-bottom: 4px;
}

.lay_conts .order_delivery .order_prd .prd_list_n li:first-child {
    margin-top: 4px;
    border: 0;
}


.lay_conts .order_delivery .order_prd .prd_list_n li {
    padding: 12px 0;
    border-top: 1px solid #e0e0e0;
}

.lay_conts .order_delivery .order_prd .prd_list_n .rad_wrap {
    vertical-align: middle;
}

.lay_conts .order_delivery .order_prd .prd_list_n .rad_wrap input + label {
    display: table;
    font-size: 0;
}


.lay_conts .order_delivery .order_prd .prd_list_n .rad_wrap .img {
    display: table-cell;
    overflow: hidden;
    vertical-align: top;
    text-indent: 0;
}

.lay_conts .order_delivery .order_prd .prd_list_n .rad_wrap .img img {
    display: block;
    width: 77px;
    height: 77px;
}

img {
    vertical-align: middle;
}

.lay_conts .order_delivery .order_prd .prd_list_n .rad_wrap .txt {
    display: table-cell;
    width: 282px;
    vertical-align: middle;
    text-indent: 0;
}


.lay_conts .order_delivery .order_prd .prd_list_n .rad_wrap .txt span {
    display: block;
    padding-left: 16px;
    color: #101010;
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
}

.mt_elps {
    width: 100%;
    overflow: hidden;
    max-height: 48px;
    text-overflow: ellipsis;
    word-break: break-all;
    line-height: 24px;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
}


.lay_wrap .close {
    position: absolute;
    top: 20px;
    right: 19px;
}

.lay_wrap .close button {
    display: block;
    width: 32px;
    height: 32px;
    background: url(/mp/resources/images/common/ico_set.png) -488px 0 no-repeat;
}

.lay_wrap .close button:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 24px;
    height: 24px;
    margin: -12px 0 0 -12px;   
    background: url(/mp/resources/images/common/ico_set.png) -750px 0 no-repeat;
    background-size: 800px 800px;
}


.hide {
    display: inline-block;
    position: absolute;
    z-index: -10;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    font-size: medium;
    line-height: normal;
    word-break: break-all;
}
