<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.d.mp.cookit.menu.prd.ProductDAO">
  	<insert id="setInsert" parameterType="ProductDTO">
  		<selectKey order="BEFORE" resultType="Long" keyProperty="product_id">
  			SELECT PRD_SEQ.nextval from dual
  		</selectKey>
  		insert into product (product_id, product_name, product_sub_name, product_recipe, product_description, product_info, product_price)
  		values (#{product_id}, #{product_name}, #{product_sub_name}, #{product_recipe}, #{product_description}, #{product_info}, #{product_price})
  	</insert>
  	<insert id="setFile" parameterType="ProductFilesDTO">
  		insert into product_file (product_file_id, product_id, product_file_name, product_file_ori_name, product_file_path)
  		values (PF_SEQ.nextval, #{product_id}, #{product_file_name}, #{product_file_ori_name}, #{product_file_path})
  	</insert>
  	<select id="getFile" parameterType="ProductDTO" resultType="ProductFilesDTO">
  		select * from product_file where product_id = #{product_id}
  	</select>
  	
  	<select id="getPrdList" resultType="ProductDTO">
  		select * from product
  	</select>
  	<select id="getPrdOne" parameterType="ProductDTO" resultType="ProductDTO">
  		select * from product where product_id = #{product_id}
  	</select>
  </mapper>